{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <link rel="stylesheet" href="../../static/app/content/scratchblocks2.css">
    <!-- <script src="../../static/app/scripts/bootstrap-modal.js"></script> -->
    <script src="../../static/app/scripts/translations.js"></script>
    <!-- <script src="../../static/app/scripts/bootstrap.js"></script> -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap-tour.css">
    <script src="../../static/app/scripts/bootstrap.min.js"></script>
    <script src="../../static/app/scripts/bootstrap-tour.js"></script>
    <script src="../../static/app/scripts/googleAnalytics.js"></script>
    <script src="../../static/app/scripts/scratchblocks-v3.4-min.js"></script>


    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="/static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="/static/app/images/favicon.ico">
    <link rel="stylesheet" href="static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="/static/app/content/bootstrap.min.css">
    <link rel="stylesheet" href="/static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../static/app/content/owl_002.css">
    <link rel="stylesheet" href="../../static/app/content/owl.css">
    <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="../../static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../static/app/content/styles.css">
    <link rel="stylesheet" href="/static/app/content/master.css">
    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="../../static/app/content/red.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var toggleContents = document.querySelectorAll('.toggle-content');

            toggleContents.forEach(function(toggle) {
                var content = toggle.nextElementSibling;

                // Verifica si alguno de los elementos dentro de la sección está activo
                var isActive = content.querySelector('.active') !== null;

                // Muestra u oculta el contenido según el estado de "isActive"
                if (isActive) {
                    content.style.display = 'block';
                    toggle.querySelector('i').classList.remove('bi-caret-right-fill');
                    toggle.querySelector('i').classList.add('bi-caret-down-fill');
                } else {
                    content.style.display = 'none';
                    toggle.querySelector('i').classList.add('bi-caret-right-fill');
                    toggle.querySelector('i').classList.remove('bi-caret-down-fill');
                }

                toggle.addEventListener('click', function() {
                    if (content.style.display === 'none') {
                        content.style.display = 'block';
                        toggle.querySelector('i').classList.remove('bi-caret-right-fill');
                        toggle.querySelector('i').classList.add('bi-caret-down-fill');
                    } else {
                        content.style.display = 'none';
                        toggle.querySelector('i').classList.add('bi-caret-right-fill');
                        toggle.querySelector('i').classList.remove('bi-caret-down-fill');
                    }
                });
            });
        });




    </script>

    <style>
        .sidebar {
            position: -webkit-sticky; /* Para navegadores webkit */
            position: sticky;
            top: 20px; /* Distancia desde la parte superior del contenedor principal */
            height: calc(100vh - 40px); /* Altura del sidebar */
            overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido es más largo que la altura del sidebar */
        }

        /* Estilos adicionales según tus preferencias */
        .sidebar ul {
            padding-left: 0;
            list-style: none;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .sidebar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
        }

        .sidebar a:hover {
            background-color: #f0f0f0;
        }
        .active {
            background-color: #f0f0f0; /* Color de fondo */
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombreado */
        }
        .title {
                font-size: 3rem;
                font-weight: bold;
                color: #fc3b3b;
                text-align: center;
                padding: 30px 0;
                position: relative;
            }
        .toggle-content, .language-content {
            cursor: pointer;
        }

        [class^="bi-"]::before, [class*=" bi-"]::before {
            vertical-align: middle;
        }
        




    </style>
</head>
<body>
    <!-- TOP BAR -->
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
        <div class="container">
            <!-- NAVIGATION LINK -->
            <a href="/" style="padding-left: 5%;">
                <img src="/static/app/images/logo_main.png" alt="" width="220" height="70.1667">
            </a>
            <ul class="nav navbar-nav navbar-right login-register small-text">
                <li style="display: block;" class="login dropdown">
                    <a aria-expanded="false" type="button" data-toggle="dropdown" class="dropdown-toggle language-content" data-hover="dropdown" style="padding-top: 60%;">
                        <span class="icon-basic-world"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu" style="padding: 20px;">
                        <li style="padding-left: 20px;">
                            <div>
                                <form action="/i18n/setlang/" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                                    <select name="language" onchange="this.form.submit()" class='btn-group btn-group-justified colored-text language-content'>
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            {% if language.code == request.LANGUAGE_CODE %}
                                                <option value="{{ language.code }}" selected>{{ language.name }} ({{ language.code }})</option>
                                            {% else %}
                                                <option value="{{ language.code }}">{{ language.name }} ({{ language.code }})</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <!-- /END TOP BAR -->
    <!-- JUMBOTRON -->
    <div class="container" style="margin-left: 10%; padding-top: 90px;">
        <div class="col-md-3">
            <div class="sidebar sticky-sidebar" style="text-align: left; margin-top: 20px;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h4 class="nav-link toggle-content">
                            <strong> {% trans "Tutorials" %} </strong> <i class="bi bi-caret-down"> </i>
                        </h4>
                        <ul class="nav flex-column tutorial-items" style="display: none;">
                            <li class="nav-item {% if request.path == '/learn/DefaultMode/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/DefaultMode/">{% trans "Default Mode" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/BatchMode/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/BatchMode/">{% trans "Batch Mode" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/PersonalMode/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/PersonalMode/">{% trans "Personalized Mode" %}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h4 class="nav-link toggle-content">
                            <strong style="padding-bottom: 10%;"> {% trans "Dimensions" %} </strong> <i class="bi bi-caret-down"></i>
                        </h4>
                        <ul class="nav flex-column dimension-items" style="display: none;">
                            <li class="nav-item {% if request.path == '/learn/Logic/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/Logic/">{% trans "Logic" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/DataRepresentation/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/DataRepresentation/">{% trans "Data representation" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/Parallelization/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/Parallelization/">{% trans "Parallelism" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/Synchronization/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/Synchronization/">{% trans "Synchronization" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/UserInteractivity/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/UserInteractivity/">{% trans "User interactivity" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/FlowControl/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/FlowControl/">{% trans "Flow control" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/Abstraction/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/Abstraction/">{% trans "Abstraction" %}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h4 class="nav-link toggle-content">
                            <strong> {% trans "Bad Habits" %} </strong> <i class="bi bi-caret-down"></i>
                        </h4>
                        <ul class="nav flex-column bad-habits-items" style="display: none;">
                            <li class="nav-item {% if request.path == '/learn/duplicatedScripts/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/duplicatedScripts/">{% trans "Duplicated scripts" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/spriteNaming/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/spriteNaming/">{% trans "Sprite naming" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/deadCode/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/deadCode/">{% trans "Dead code" %}</a>
                            </li>
                            <li class="nav-item {% if request.path == '/learn/attrInit/' %} active {% endif %}">
                                <a class="nav-link" href="/learn/attrInit/">{% trans "Attribute initialization" %}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /END JUMBOTRON -->
        <!-- PANEL-->
        <div class="col-md-7">
            {% block content %}
            {% endblock %}
    
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer grey-bg">
        <p>{% trans "©2024 Dr.Scratch Made with " %} <span style="color: #e25555;">&#9829;</span> {% trans "by " %} <a href="/collaborators">{% trans "Dr.Scratch Team." %}</a></p>
            <!-- SOCIAL ICONS -->
            <ul class="social-icons">
                <li>
                    <a href="https://github.com/Daniesmor/Dr.Scratch-Northeastern"> 
                    <i class="bi bi-github" style="color: black;"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/DrScratchTool">
                    <i class="bi bi-twitter-x" style="color: black;"></i>
                    </a>
                </li>    
            </ul>
    </footer>
</body>
</html>
