{% extends 'learn/base.html' %}
{% load i18n %}
    {% block content %}
    <div class="container" style="text-align: left;">
        <h2> {% trans "Personal Mode" %} </h2>
        <div class="container">
            <div class="row">

                <!-- BRIEF IMAGE -->
                <div style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInLeft;" class="col-md-6 pull-right wow fadeInLeft animated" data-wow-offset="20" data-wow-duration="1.75s">

     <div class="brief-image-right">

                        <div class="js-video [vimeo, widescreen]">

                            <!--<iframe src="http://player.vimeo.com/video/114430745" width="500" height="333" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen=""></iframe>-->
                        </div>
                    </div>
                </div>

                <!-- BRIEF HEADING -->
                <div style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInRight;" class="col-md-6 content-section pull-left wow fadeInRight animated" data-wow-offset="20" data-wow-duration="1.75s">
                  <p class="text-left">
                    <p><em>{% trans "The functionality of this mode is divided in 3 steps:" %}</em></p>
                    <p style="margin-top: 0px;"><em>{% trans "1. Creation of the Rubric with the grades of each dimension." %}</em></p>
                    <p style="margin-top: 0px;"><em>{% trans "2. Sharing the link to the Rubric created in the previous step." %}</em></p>
                    <img src="static/app/images/link_share.png" style="margin-left: 12%;"></img>
                    <p style="margin-top: 2px;"><em>{% trans "3. Upload of the projects via an url, .sb3 file or a .txt file with multiple projects." %}</em></p>
                    <img src="static/app/images/url_project.png" style="margin-left: 2%;"></img>
                    <img src="static/app/images/file_project.png" style="margin-left: 2%;"></img>
                    <img src="static/app/images/csv_project.png" style="margin-left: 2%;"></img>
                  </p>
                    <!-- FEATURE LIST -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="feature-list text-left">
                              <li><p>
                                <span class="icon-basic-clessidre colored-text"></span>
                                {% trans "It is extremely easy to use, both for begginers and expert programmers." %}
                              </p></li>
                              <li><p>
                                <span class="icon-basic-lightbulb colored-text"></span>
                                {% trans "You receive feedback to improve your coding skills." %}
                              <p></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <ul class="feature-list text-left">
                            <li><p>
                              <span class="icon-basic-home colored-text"></span>
                              {% trans "You can keep on improving your programming skills by yourself even from home." %}
                            <p></li>
                            <li><p>
                              <span class="icon-ecommerce-graph3 colored-text"></span>
                              {% trans "You can track your progress through charts and stats." %}
                            <p></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}