{% extends 'learn/base.html' %}
{% load i18n %}
{% block content %}
<div class="container" style="text-align: left;">
    <h2> {% trans "Sprite Naming" %} </h2>
    <div class="panel panel-default">
        <div class="panel-body col-lg-10">
{% trans "When you start to programming with Scratch, is very usually to leave the default name of the new characters or scenarios(sprite 1, sprite2, backdrop1, backdrop2 ...). When we have few characters or backdrops, is very easy to know what character or scenario have each name. However, when the number of characters or scenarios increases, it's more complicated. So, is a good practice naming(to recognize easily) each character and scenario of our projects, because our programs can be read more fast. Avoid default names!" %}
        </div>
    </div>
</div>

{% endblock %}
