{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/app/content/scratchblocks2.css">
    <!-- <script src="../../static/app/scripts/bootstrap-modal.js"></script> -->
    <script src="../../static/app/scripts/translations.js"></script>
    <!-- <script src="../../static/app/scripts/bootstrap.js"></script> -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap-tour.css">
    <script src="../../static/app/scripts/bootstrap.min.js"></script>
    <script src="../../static/app/scripts/bootstrap-tour.js"></script>
    <script src="../../static/app/scripts/googleAnalytics.js"></script>
    <script src="../../static/app/scripts/scratchblocks-v3.4-min.js"></script>


    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="/static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="/static/app/images/favicon.ico">
    <link rel="stylesheet" href="static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="/static/app/content/bootstrap.min.css">
    <link rel="stylesheet" href="/static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../static/app/content/owl_002.css">
    <link rel="stylesheet" href="../../static/app/content/owl.css">
    <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="../../static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../static/app/content/styles.css">
    <link rel="stylesheet" href="/static/app/content/master.css">
    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="../../static/app/content/red.css">

    <!-- CAPTCHA OF GOOGLE -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    

    <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>




    <style>
        .btn-primary {
            background-color: #1792A4;
        }
        .btn-primary:hover {
            background-color: #4CA8A1;
        }
        .btn-primary:focus {
            background-color: #4CA8A1;
        } 
        .language-content {
            cursor: pointer;
        }

    </style>
    
</head>
<body>
    <!-- TOP BAR -->
<div id="wrap">
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
        <div class="container">
            <!-- NAVIGATION LINK -->
            <a href="/" style="padding-left: 5%;">
                <img src="static/app/images/logo_main.png" alt="" width="220" height="70.1667">
            </a>
            <ul class="nav navbar-nav navbar-right login-register small-text">
                <li style="display: block;" class="login dropdown">
                    <a aria-expanded="false" type="button" data-toggle="dropdown" class="dropdown-toggle language-content" data-hover="dropdown" style="padding-top: 60%;">
                        <span class="icon-basic-world"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu" style="padding: 20px;">
                        <li style="padding-left: 20px;">
                            <div>
                                <form action="/i18n/setlang/" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                                    <select name="language" onchange="this.form.submit()" class='btn-group btn-group-justified colored-text language-content'>
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            {% if language.code == request.LANGUAGE_CODE %}
                                                <option value="{{ language.code }}" selected>{{ language.name }} ({{ language.code }})</option>
                                            {% else %}
                                                <option value="{{ language.code }}">{{ language.name }} ({{ language.code }})</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <!-- /END TOP BAR -->

<div class="container">
    
    <!-- BODY -->

    <!-- VERTICAL PROJECT FORM -->
    <div class="col-md-7 col-md-offset-2">
        <br></br>
        <div class="vertical-project-form">
            <h4>{% trans "Tell us how your experience went..." %}</h4>

            <h5 class="dark-text form-heading"><strong>{% trans "Fill out the form and we will contact you as soon as possible" %}</strong></h5>
            <form name="form" id="form-personalized" class="project-form" enctype="multipart/form-data" method="post" action="{% url 'contact_form' %}">
                {% csrf_token %}
                {% load i18n %}
                <div class="form-group">
                    <label for="contact_name">*{% trans "Your name" %}</label>
                    <input type="text" class="form-control" name="contact_name" aria-describedby="nameHelp" placeholder="{% trans "Enter your name"  %}">
                    <small id="nameHelp" class="form-text text-muted">{% trans "Obligatory" %}</small>
                </div>
                <div class="form-group">
                    <label for="contact_email">*{% trans "Your email" %}</label>
                    <input type="email" class="form-control" name="contact_email" aria-describedby="emailHelp" placeholder="{% trans "Enter email"  %}" >
                    <small id="emailHelp" class="form-text text-muted">{% trans "Obligatory" %}</small>
                </div>
                <div class="form-group">
                    <label for="contact_text">*{% trans "Tell us how your experience went..." %}</label>
                    <textarea class="form-control" name="contact_text" rows="3"></textarea>
                </div>
                {% trans "<input  name='contact_media' type='file' class='filestyle' data-buttonText='Upload media'>" %}
                <div class="g-recaptcha" data-sitekey="{{ captcha_pubkey }}"></div>
                <br>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>

                <button type="submit" class="btn btn-primary standard-button">{% trans "Send" %}</button>
                
            </form>


            <!-- FORM SUBMIT SUCCESS / ERROR MESSAGES -->
            <p class="file-error dark-text small-text">
            {% trans "Error! Please choose a .sb or .sb2 file or input an url" %}</p>
            {% if error %}
            <br></br>
            <p><span class="icon icon-close-alt2"></span> {% trans "Error! Please choose a .sb or .sb2 file or input an url" %}</p>
            {% endif %}
            {% if id_error %}
            <br></br>
            <p><span class="icon icon-close-alt2"></span> {% trans "Error! Your project id is wrong" %}</p>
            {% endif %}
            {% if no_exists %}
            <br></br>
            <p><span class="icon icon-close-alt2"></span> {% trans "Error! Your project doesn't exist in Scratch's servers" %}</p>
            {% endif %}
        </div>
    </div>
    
    
  
</div>
<br></br>

<footer class="footer grey-bg">
    <p>{% trans "©2024 Dr.Scratch Made with " %} <span style="color: #e25555;">&#9829;</span> {% trans "by " %} <a href="/collaborators">{% trans "Dr.Scratch Team." %}</a></p>

     <!-- SOCIAL ICONS -->
     <ul class="social-icons">
         <li>
             <a href="https://github.com/Daniesmor/Dr.Scratch-Northeastern"> 
                 <i class="bi bi-github" style="color: black;"></i>
             </a>
         </li>
         <li>
             <a href="https://twitter.com/DrScratchTool">
                 <i class="bi bi-twitter-x" style="color: black;"></i>
             </a>
         </li>    

     </ul>

</footer>

    <script type="text/javascript" src="static/app/scripts/bootstrap-filestyle.js"> </script>

</body>
</html>
