{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/app/content/scratchblocks2.css">
    <!-- <script src="../../static/app/scripts/bootstrap-modal.js"></script> -->
    <script src="../../static/app/scripts/translations.js"></script>
    <!-- <script src="../../static/app/scripts/bootstrap.js"></script> -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap-tour.css">
    <script src="../../static/app/scripts/bootstrap.min.js"></script>
    <script src="../../static/app/scripts/bootstrap-tour.js"></script>
    <script src="../../static/app/scripts/googleAnalytics.js"></script>
    <script src="../../static/app/scripts/scratchblocks-v3.4-min.js"></script>


    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="/static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="/static/app/images/favicon.ico">
    <link rel="stylesheet" href="static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="/static/app/content/bootstrap.min.css">
    <link rel="stylesheet" href="/static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../static/app/content/owl_002.css">
    <link rel="stylesheet" href="../../static/app/content/owl.css">
    <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="../../static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../static/app/content/styles.css">
    <link rel="stylesheet" href="/static/app/content/master.css">
    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="../../static/app/content/red.css">

    

    <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.forms["form"];

            function updateUrl(number) {
                form.action = "/show_dashboard/" + number;
                console.log(form.action);
            }

            function obtainNumbersOfUrl(url) {
                var urlObj = new URL(url);
                var path = urlObj.pathname;
                var parts = path.split('/');
                var number = parts.pop();
                updateUrl(number);
            }

            // Update of the URL for the Sliders
            var url = window.location.href;
            obtainNumbersOfUrl(url);
        });
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Fetch and process the message to type
        var message = "{{ recomenderSystem.message|escapejs }}";
        var explanation = "{{ recomenderSystem.explanation|escapejs }}";
        var farwell = "{{ recomenderSystem.farwell|escapejs }}";
        message = message.replace(/\u001b\[95m/g, '<span style="color: magenta;">').replace(/\u001b\[0m/g, '</span>');
        console.log(message)
        console.log(explanation)
        // Check if there are any blocks to process
        var blocksExist = {% if recomenderSystem.blocks %} true {% else %} false {% endif %};

        if (blocksExist) {
            // Create and hide pre elements for each block
            {% for block in recomenderSystem.blocks %}
                var indexBlock = "{{ forloop.counter0|add:1 }}"; // Out ids starts on 1 instead of 0, this easy for block selector
                var blockName = `recomBlock${indexBlock}`;

                // Creates the legend "This block is in the sprite bla"
                var preLegend = document.createElement('p');
                var blockLegend = `{{ block.1|escapejs }}`;
                blockLegend = blockLegend.replace(/\u001b\[95m/g, '<span style="color: magenta;">').replace(/\u001b\[0m/g, '</span>');
                preLegend.innerHTML = blockLegend;
                preLegend.className = `typed-family`; 
                
                // Creates the block image
                var deadBlockContent = `{{ block.0|escapejs }}`;
                var preElement = document.createElement('pre');
                preElement.className = 'blocks';
                preElement.innerHTML = deadBlockContent;

                // Creates the container that contains the block and the legend
                var blockContainer = document.createElement('div');
                blockContainer.id = blockName;
                blockContainer.style.display = 'none';
                document.getElementById('blocks-recomender').appendChild(blockContainer);   
                blockContainer.appendChild(preLegend);
                blockContainer.appendChild(preElement);
                
                // Update total value of the block selector
                document.getElementById('totSelValue').textContent = "{{ forloop.counter0|add:1 }}";
            {% endfor %}
        } 

        function listenSelector() {
            /*
            This function controls the block selector
            IMPORTANT: Remember that the div that contains the block and legend
            has an id that starts in 1 instead of 0, this is for the number of the
            block selector indicator and div id matches.
            */
            var prevSelector = document.getElementById('prevBlock');
            var nextSelector = document.getElementById('nextBlock');
            var currSelValueElem = document.getElementById('currSelValue');
            var totSelValueElem = document.getElementById('totSelValue');

            var currSelValue = parseInt(currSelValueElem.textContent);
            var totSelValue = parseInt(totSelValueElem.textContent);              

            prevSelector.addEventListener("click", function() {
                if (currSelValue >= 2) {
                    document.getElementById(`recomBlock${currSelValue}`).style.display = 'none';
                    currSelValue--;
                    currSelValueElem.textContent = currSelValue; 
                    
                    document.getElementById(`recomBlock${currSelValue}`).style.display = 'block';
                }
            });

            nextSelector.addEventListener("click", function() {
                if (currSelValue < totSelValue) {
                    document.getElementById(`recomBlock${currSelValue}`).style.display = 'none';
                    currSelValue++;
                    currSelValueElem.textContent = currSelValue; 
                    document.getElementById(`recomBlock${currSelValue}`).style.display = 'block';
                }  
            });
        }

        function typed_farwell() {
            var typed_farwell = new Typed('#typed-farwell', {
                strings: [farwell],
                typeSpeed: 20,
                backSpeed: 25,
                backDelay: 1000,
                loop: false,
                showCursor: false,
            });
        }

        function typed_explanation() {
            var typed_explanation = new Typed('#typed-explanation', {
                strings: [explanation],
                typeSpeed: 20,
                backSpeed: 25,
                backDelay: 1000,
                loop: false,
                showCursor: false,
                onComplete: function() {
                    typed_farwell();
                }
            });
        }
        
        // Initialize typed.js
        var typed_message = new Typed('#typed-message', { // Assuming you want to type in the first block
            strings: [message],
            typeSpeed: 20,
            backSpeed: 25,
            backDelay: 1000,
            loop: false,
            showCursor: false,
            onComplete: function() {
                if (blocksExist) {
                    var blockSelector = document.getElementById('block-selector');
                    blockSelector.style.display = 'block';

                    // We have to show the first block (index 0)
                    document.getElementById('recomBlock1').style.display = 'block';
                    listenSelector();

                    // Type of the explanation after the block section
                    typed_explanation();
                } else {
                    typed_explanation();
                }
            }
        });
    });
    </script>

    <style>
        .btn-primary {
            background-color: #1792A4;
        }
        .btn-primary:hover {
            background-color: #4CA8A1;
        }
        .btn-primary:focus {
            background-color: #4CA8A1;
        }
    </style>
    
</head>
<body>
<div id="wrap">
    <!-- TOP BAR -->
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
        <div class="container">
            <!-- NAVIGATION LINK -->
            <a href="/">
                <img src="static/app/images/logo_main.png" alt="" width="220" height="70.1667">
            </a>

        </div>
    </div>
    <!-- /END TOP BAR -->

<div class="container">
    
    <!-- BODY -->
    
    

    <!-- VERTICAL PROJECT FORM -->
    <div class="col-md-7 col-md-offset-2">
        <br></br>
        <div class="card" style="min-height: 80px;">
            <div class="container-fluid">   
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-1 d-flex">
                        <img src="/static/app/images/cat_chat.png" class="position-absolute top-20 start-90" style="max-width: 100%; width: 100%; padding: 10px;" alt="">
                    </div>
                    <div class="col-md-11">
                        <div id="typed-message" class="typed-family"></div>
                        <div id="block-selector" style="display: none;">
                            <a id="prevBlock" style="cursor: pointer;"> &lt; </a><span class="typed-family" id="currSelValue">1</span><span class="typed-family"> / </span><span  class="typed-family" id="totSelValue">30</span><a id="nextBlock" style="cursor: pointer;"> &gt;</a>                                     
                        </div>
                        
                        <div id="blocks-recomender" class="typed-family"></div>
                        <br>
                        <div id="typed-explanation" class="typed-family"></div>
                        <br>
                        <div id="typed-farwell" class="typed-family"></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
  
</div>
<br></br>

    <!-- FOOTER -->
    <footer class="footer grey-bg">
        <p>{% trans "©2024 Dr.Scratch Made with " %} <span style="color: #e25555;">&#9829;</span> {% trans "by " %} <a href="/collaborators">{% trans "Dr.Scratch Team." %}</a></p>
            <!-- SOCIAL ICONS -->
            <ul class="social-icons">
                <li>
                    <a href="https://github.com/Daniesmor/Dr.Scratch-Northeastern"> 
                    <i class="bi bi-github" style="color: black;"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/DrScratchTool">
                    <i class="bi bi-twitter-x" style="color: black;"></i>
                    </a>
                </li>    
            </ul>
    </footer>

    <script type="text/javascript" src="static/app/scripts/bootstrap-filestyle.js"> </script>

</body>
</html>
