{% load i18n %}


<div id="Comparison" class="tabcontent">
    <section id="blackboard compare" class="services col-md-8" style="padding-top: 3.5%; width: 70%; margin-left: 15%;">
        <!-- Este es el contenido inicial que se reemplazará al recibir la respuesta -->
        <div class="improve">
            <div class="panel panel-success" id="improve" style="width: 50%; margin-left: 25%;">
                <div id="stepfour">
                    <div class="panel-heading">
                        <h2 id="score" class="panel-title dark-text">
                            {% trans "Compare project"%}
                            <i class="bi bi-question-circle small-icon" data-toggle="tooltip" data-placement="right" title="{% trans 'Upload the new project in order to compare it with the actual' %}"></i>
                        </h2>
                    </div>
                    <div class="panel-success" style="word-break: break-word;">
                        <p>
                            {% trans "Enter the URL of the project you want to compare:" %}
                        </p>
                        <form id="form-compare" name="form" class="project-form" enctype="multipart/form-data" method="post" style="margin: 10px" target="_blank">
                            <input type="hidden" name="dashboard_mode" value="Default">
                            <input type="hidden" name="_url_compare" value="Url">
                            <input type="hidden" name="urlProject" value="{{ url }}">
                            {% trans '<input name="urlProject" id="cf-name" class="form-control input-box" placeholder="http:/scratch.mit.edu/projects/your_number" type="text">' %}
                            <p id="project-warning" style="display: none;"><span class='colored-text'>{% trans "Please enter a project!" %}</span></p>
                            <button id="compare-projects-button" class="btn btn-primary standard-button">{% trans "Compare projects" %}</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById("compare-projects-button").addEventListener("click", function (event) {
            event.preventDefault();

            const form = document.getElementById("form-compare");
            const formData = new FormData(form);

            // Obtener la URL actual
            let currentUrl = window.location.pathname;

            // Extraer el identificador si existe después de /show_dashboard/
            let match = currentUrl.match(/^\/show_dashboard\/([a-zA-Z0-9]+)\/?$/);
            let identifier = match ? match[1] : "";

            // Construir la URL de comparación con o sin identificador
            let comparisonUrl = identifier 
                ? `/get_comparison/${identifier}` 
                : `{% url "get_comparison" %}`;

            fetch(comparisonUrl, {
                method: "POST",
                body: formData,
                headers: {
                    "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok " + response.statusText);
                }
                return response.json();  // Aquí se espera un JSON con los datos de los proyectos
            })
            .then(data => {
                // Crear el HTML para reemplazar el contenido de #blackboard
                let htmlContent = `
                <div class="container">
            <section id="dashboard" style="display: flex; align-items: center; padding-top: 3.5%;">
                <div class="col-md-6">
                    <div class="container">
                        <section id="dashboard" class="services col-md-5" style="padding-top: 0px;">
                            <div class="jumbotron" style="padding-top: 5px; padding-left: 10%;">
                                <div class="panel ">
                                    <div class="panel-heading" id="steptwo">
                                        <h2 id="score" class="panel-title dark-text">
                                            <strong>
                                                Original Project
                                            </strong>
                                        </h2>
                                    </div>
                                    <div class="panel-body" style="display: flex; align-items: center;">
                                        <div class="container col-md-12">
                                            <div class="row" style="display: flex; align-items: center;">
                                                <div class="col-12 text-center" id="modal_new_score">
                                                    <h3 class="dark-text" style="margin-top: 0;"><strong>Score:</strong></h3>
                                                    <h2 id="original-score" class="dark-text" style="font-size: 70px;">
                                                        ${data.Original.mastery.points[0]} / ${data.Original.mastery.points[1]}
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 15px;">
                                                <h3 class="dark-text" style="font-size: 20px;"><strong>Blocks and Sprites Usage:</strong></h3>
                                                <div class="col-12 align-items-center">
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/golfing_blocks.png" height="70px" class="mr-3 hover-image dropdown" data-toggle="popover" title="Total Blocks" data-type="Original" data-compare-type="total blocks" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="original-total-blocks">
                                                            ${data.Original.block_sprite_usage.result.total_blocks} blocks
                                                        </h2>
                                                    </div>
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/golfing_sprites.png" height="70px" class="display-flex hover-image dropdown" data-toggle="popover" title="Total Sprites" data-type="Original" data-compare-type="total sprites" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="original-total-sprites">
                                                            ${data.Original.block_sprite_usage.result.total_sprites} sprites
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h3 class="dark-text" style="font-size: 20px;"><strong>Bad Smells:</strong></h3>
                                                <div class="col-12 align-items-center">
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/duplicated.png" height="70px" class="mr-3 dropdown" data-toggle="popover" title="Duplicated Scripts" data-type="Original" data-compare-type="duplicated scripts" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="original-duplicate">
                                                            ${data.Original.duplicateScript.number} duplicated
                                                        </h2>
                                                    </div>
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/dead_code.png" height="70px" class="display-flex dropdown" data-toggle="popover" title="Dead Code" data-type="Original" data-compare-type="dead code" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="original-dead">
                                                            ${data.Original.deadCode.number} dead blocks
                                                        </h2>
                                                    </div>
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/member.jpg" height="70px" class="mr-3 dropdown" data-toggle="popover" title="Sprite Naming" data-type="Original" data-compare-type="sprite naming" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="original-sprite">
                                                            ${data.Original.spriteNaming.number} sprites
                                                        </h2>
                                                    </div>
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/backdrop_naming.jpeg" height="70px" class="display-flex dropdown" data-toggle="popover" title="Backdrop Naming" data-type="Original" data-compare-type="backdrop naming" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="original-backdrop">
                                                            ${data.Original.backdropNaming.number} backdrops
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <section id="dashboard" class="services col-md-5" style="padding-top: 0px;">
                            <div class="jumbotron" style="padding-top: 5px; padding-left: 10%;">
                                <div class="panel ">
                                    <div class="panel-heading" id="steptwo">
                                        <h2 id="score" class="panel-title dark-text">
                                            <strong>
                                                New Project
                                            </strong>
                                        </h2>
                                    </div>
                                    <div class="panel-body" style="display: flex; align-items: center;">
                                        <div class="container col-md-12">
                                            <div class="row" style="display: flex; align-items: center;">
                                                <div class="col-12 text-center" id="modal_new_score">
                                                    <h3 class="dark-text" style="margin-top: 0;"><strong>Score:</strong></h3>
                                                    <h2 id="new-score" class="dark-text" style="font-size: 70px;">
                                                        ${data.New.mastery.points[0]} / ${data.New.mastery.points[1]}
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 15px;">
                                                <h3 class="dark-text" style="font-size: 20px;"><strong>Blocks and Sprites Usage:</strong></h3>
                                                <div class="col-12 align-items-center">
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/golfing_blocks.png" height="70px" class="mr-3 dropdown" data-toggle="popover" title="Total Blocks" data-compare-type="total blocks" data-original-number="${data.Compare.original.total_blocks}" data-new-number="${data.Compare.new.total_blocks}" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="new-total-blocks">
                                                            ${data.New.block_sprite_usage.result.total_blocks} blocks
                                                        </h2>
                                                    </div>
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/golfing_sprites.png" height="70px" class="display-flex dropdown" data-toggle="popover" title="Total Sprites" data-compare-type="total sprites" data-original-number="${data.Compare.original.total_sprites}" data-new-number="${data.Compare.new.total_sprites}" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="new-total-sprites">
                                                            ${data.New.block_sprite_usage.result.total_sprites} sprites
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h3 class="dark-text" style="font-size: 20px;"><strong>Bad Smells:</strong></h3>
                                                <div class="col-12  align-items-center">
                                                    <div class="col-sm-6  align-items-center">
                                                        <img src="/static/app/images/duplicated.png" height="70px" class="mr-3 dropdown" data-toggle="popover" title="Duplicated Scripts" data-compare-type="duplicated scripts" data-original-number="${data.Original.duplicateScript.number}" data-new-number="${data.New.duplicateScript.number}" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="new-duplicate">
                                                            ${data.New.duplicateScript.number} duplicated
                                                        </h2>
                                                    </div>
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/dead_code.png" height="70px" class="display-flex dropdown" data-toggle="popover" title="Dead Code" data-compare-type="dead code" data-original-number="${data.Original.deadCode.number}" data-new-number="${data.New.deadCode.number}" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="new-dead">
                                                            ${data.New.deadCode.number} dead blocks
                                                        </h2>
                                                    </div>
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/member.jpg" height="70px" class="mr-3 dropdown" data-toggle="popover" title="Sprite Naming" data-compare-type="sprite naming" data-original-number="${data.Original.spriteNaming.number}" data-new-number="${data.New.spriteNaming.number}" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="new-sprite">
                                                            ${data.New.spriteNaming.number} sprites
                                                        </h2>
                                                    </div>
                                                    <div class="col-sm-6 align-items-center">
                                                        <img src="/static/app/images/backdrop_naming.jpeg" height="70px" class="display-flex dropdown" data-toggle="popover" title="Backdrop Naming" data-compare-type="backdrop naming" data-original-number="${data.Original.backdropNaming.number}" data-new-number="${data.New.backdropNaming.number}" data-trigger="manual">
                                                        <h2 class="dark-text" style="font-size: 18px; margin: 0;" id="new-backdrop">
                                                            ${data.New.backdropNaming.number} backdrops
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
        <button id="show-more-button" class="btn btn-primary standard-button" style="width: auto; margin-bottom: 2%;">Show more</button>`;

        let masteryOriginal = data.Original.mastery;
        let masteryNew = data.New.mastery;

        let allKeys = new Set([...Object.keys(masteryOriginal), ...Object.keys(masteryNew)]);

        let masteryTableRows = Array.from(allKeys)
        .filter(key => key !== "points" && key !== "competence")
        .map(key => {
            let originalValue = masteryOriginal[key] || [[0, 0], "unknown"];
            let newValue = masteryNew[key] || [[0, 0], "unknown"] ;

            let originalScore = originalValue[0][0];
            let originalMax = originalValue[0][1];

            let newScore = newValue[0][0];
            let newMax = newValue[0][1];

            // Definir color de la barra de New
            let newBarColor = "progress-bar-danger"; // Rojo por defecto
            if (newScore === originalScore) {
                newBarColor = ""; // Azul si son iguales
            } else if (newScore > originalScore) {
                newBarColor = "progress-bar-success"; // Verde si es mayor
            } else if (originalScore - newScore < 2) {
                newBarColor = "progress-bar-warning"; // Amarillo si es menor en 1 punto
            }

            // Si la puntuación es 0, solo mostramos el texto, sin barra de progreso
            let originalProgress = originalScore === 0
                ? `<div class="progress"> <span style="color: grey; font-weight: bold;"><strong>${originalScore} / ${originalMax}</strong></span> </div>`
                : `
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" 
                            role="progressbar" 
                            aria-valuenow="${originalScore}" 
                            aria-valuemin="0" 
                            aria-valuemax="${originalMax}" 
                            style="width: ${(originalScore / originalMax) * 100}%;">
                            <span style="color: white; font-weight: bold;">${originalScore} / ${originalMax}</span>
                        </div>
                    </div>`;

            let newProgress = newScore === 0
                ? `<div class="progress"> <span style="color: grey; font-weight: bold;"><strong>${newScore} / ${newMax}</strong></span> </div>`
                : `
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped ${newBarColor}" 
                            role="progressbar" 
                            aria-valuenow="${newScore}" 
                            aria-valuemin="0" 
                            aria-valuemax="${newMax}" 
                            style="width: ${(newScore / newMax) * 100}%;">
                            <span style="color: white; font-weight: bold;">${newScore} / ${newMax}</span>
                        </div>
                    </div>`;

            return `
                <tr>
                    <td style="text-align: left; width: 300px;">
                        ${originalScore === originalMax ? '<span class="glyphicon glyphicon-star" id="star"></span>' : '<img src="/static/app/images/little_bulb.png" alt="">' }
                        <a href="/learn/Dimensions/${originalValue[1]}/" target="_blank">${key}</a>
                    </td>
                    <td colspan="2">${originalProgress}</td>
                    <td colspan="2">${newProgress}</td>
                </tr>
            `;
        })
        .join("");

        const hiddenContent = `
        <div id="hidden-content" style="display: none;">
            <div class="container">
                <div class="row" style="width: auto;">
                    <div class="improve">
                        <div class="panel panel-success" id="improve">
                            <div id="stepfour">
                                <div class="panel-heading">
                                    <h2 id="score" class="panel-title dark-text">
                                        {% trans "Similarity Percentage"%}
                                        <i class="bi bi-question-circle small-icon" data-toggle="tooltip" data-placement="right" title="{% trans 'Percentage of Similarity between the 2 Projects' %}"></i>
                                    </h2>
                                </div>
                                <div class="panel-body text-center typ">
                                    <div class="col-md-3">
                                        <h4 style="font-size: 20px;">
                                            <strong>
                                                {% trans "Original Project" %}
                                            </strong>
                                        </h4>
                                    </div>
                                    <div class="col-md-6" style="padding-top: 1%;">
                                        <!-- Barra de progreso -->
                                        <div class="progress">
                                            <div id="similarity-progress" class="progress-bar-similarity progress-bar-success" role="progressbar" aria-valuenow="${data.Compare.similarity}" aria-valuemin="0" aria-valuemax="100" style="width:${data.Compare.similarity}%;">
                                                <span style="font-size: 16px; margin-bottom: 5%;"><strong> ${data.Compare.similarity}% </strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 style="font-size: 20px;">
                                            <strong>
                                                {% trans "New Project" %}
                                            </strong>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="padding-top: 2%;">
                    <div class="col-md-6">
                        <div class="improve">
                            <div class="panel panel-success" id="improve">
                                <div id="stepfour">
                                    <div class="panel-heading">
                                        <h2 id="score" class="panel-title dark-text">
                                            {% trans "Block Types Distribution (Original)" %}
                                            <i class="bi bi-question-circle small-icon" data-toggle="tooltip" data-placement="right" title="{% trans 'Distribution of Block Types in the Projects' %}"></i>
                                        </h2>
                                    </div>
                                    <div class="panel-success" style="word-break: break-word;">
                                        <canvas id="originalProjectChart" width="100" height="100"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="improve">
                            <div class="panel panel-success" id="improve">
                                <div id="stepfour">
                                    <div class="panel-heading">
                                        <h2 id="score" class="panel-title dark-text">
                                            {% trans "Block Types Distribution (New)" %}
                                            <i class="bi bi-question-circle small-icon" data-toggle="tooltip" data-placement="right" title="{% trans 'Distribution of Block Types in the Projects' %}"></i>
                                        </h2>
                                    </div>
                                    <div class="panel-success" style="word-break: break-word;">
                                        <canvas id="newProjectChart" width="100" height="100"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 2%;">
                    <div class="col-md-6">
                        <div id="bad-habits">
                            {% if Original.mastery_vanilla.points.0 != New.mastery_vanilla.points.0 %}
                                <div class="improve">
                            {% else %}
                                <div class="improve" style="padding-top: 15px;">
                            {% endif %}
                                <div class="panel panel-success" id="improve">
                                    <div id="stepthree">
                                        <div class="panel-heading" >
                                            <h2 id="score" class="panel-title dark-text" name="original-bad-habits">
                                                {% trans "Original Bad habits"%} 
                                                <i class="bi bi-question-circle small-icon" data-toggle="tooltip" data-placement="right" title="{% trans 'Specific parts of the project that do not contribute to good programming practices' %}"></i>
                                            </h2>
                                        </div>
                                        <div class="panel-body text-left typ">
                                            <a class="glyphicon glyphicon-repeat"/>
                                            <a id="duplicated-scripts" data-html="true" class="dropdown" data-toggle="popover" title="{% trans 'Duplicated scripts' %}" 
                                            data-trigger="manual" href="/learn/BadSmells/duplicatedScripts/" target="_blank"> 
                                                ${data.Original.duplicateScript.number} {% trans " duplicated scripts." %}
                                            </a>
                                            <br>
                                            <a class="glyphicon glyphicon-pencil"/>
                                            <a id="bad-smells" data-html="true" class="dropdown" data-toggle="popover" title="{% trans 'Sprite naming' %}" 
                                            data-trigger="manual" href="/learn/BadSmells/spriteNaming/" target="_blank"> 
                                                ${data.Original.spriteNaming.number} {% trans " sprite naming." %}
                                            </a><br>
                                            <a class="glyphicon glyphicon-pencil"/> 
                                            <a id="bad-smells" data-html="true" class="dropdown" data-toggle="popover" title="{% trans 'Backdrop naming' %}" href="/learn/BadSmells/backdropNaming/" target="_blank"> 
                                                    ${data.Original.spriteNaming.number} {% trans " backdrop naming." %}
                                            </a><br>
                                            <a class="glyphicon glyphicon-remove-sign"/>
                                            <a id="dead-code" data-html="true" class="dropdown" data-toggle="popover" title="{% trans 'Dead code' %}" 
                                            data-trigger="manual" href="/learn/BadSmells/deadCode/" target="_blank"> 
                                                ${data.Original.deadCode.number} {% trans " dead code." %}
                                            </a>
                        
                                        </div>
                                        {% if Original.refactor.refactor_list %}
                                            <button type="button" class="btn btn-primary" onclick="modalContentChange('duplicated-scripts-content-base')" style="margin-bottom: 2%;">
                                                {% trans 'Display all duplicates' %}
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="bad-habits">
                            {% if Original.mastery_vanilla.points.0 != New.mastery_vanilla.points.0 %}
                                <div class="improve">
                            {% else %}
                                <div class="improve" style="padding-top: 15px;">
                            {% endif %}
                                <div class="panel panel-success" id="improve">
                                    <div id="stepthree">
                                        <div class="panel-heading" >
                                            <h2 id="score" class="panel-title dark-text" name="original-bad-habits">
                                                {% trans "New Bad habits"%} 
                                                <i class="bi bi-question-circle small-icon" data-toggle="tooltip" data-placement="right" title="{% trans 'Specific parts of the project that do not contribute to good programming practices' %}"></i>
                                            </h2>
                                        </div>
                                        <div class="panel-body text-left typ">
                                            <a class="glyphicon glyphicon-repeat"/>
                                            <a id="duplicated-scripts" data-html="true" class="dropdown" data-toggle="popover" title="{% trans 'Duplicated scripts' %}" 
                                            data-trigger="manual" href="/learn/BadSmells/duplicatedScripts/" target="_blank"> 
                                                ${data.New.duplicateScript.number} {% trans " duplicated scripts." %}
                                            </a>
                                            <br>
                                            <a class="glyphicon glyphicon-pencil"/>
                                            <a id="bad-smells" data-html="true" class="dropdown" data-toggle="popover" title="{% trans 'Sprite naming' %}" href="/learn/BadSmells/spriteNaming/" target="_blank"> 
                                                ${data.New.spriteNaming.number} {% trans " sprite naming." %}
                                            </a><br>
                                            <a class="glyphicon glyphicon-pencil"/> 
                                            <a id="bad-smells" data-html="true" class="dropdown" data-toggle="popover" title="{% trans 'Backdrop naming' %}" href="/learn/BadSmells/backdropNaming/" target="_blank"> 
                                                    ${data.New.backdropNaming.number} {% trans " backdrop naming." %}
                                            </a><br>
                                            <a class="glyphicon glyphicon-remove-sign"/>
                                            <a id="dead-code" data-html="true" class="dropdown" data-toggle="popover" title="{% trans 'Dead code' %}" 
                                            data-trigger="manual" href="/learn/BadSmells/deadCode/" target="_blank"> 
                                                ${data.New.deadCode.number} {% trans " dead code." %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <section id="dashboard" style="padding-top: 2%;">
                            <div class="container-fluid">
                                <div class="row marketing">
                                    <div class="jumbotron">
                                        <div class="table-responsive">
                                            <div id="stepfive">
                                                <table class="table tablesorter">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: left; width: 300px;">
                                                                <h4>
                                                                    {% trans "Level up" %}
                                                                    <i class="bi bi-question-circle small-icon" data-toggle="tooltip" data-placement="right" title="{% trans 'Dimensions Evaluated in your Scratch Project' %}"></i>
                                                                </h4>
                                                            </th>
                                                            <th colspan="2" style="text-align: center;">
                                                                <h4>
                                                                    {% trans "Original Project" %}
                                                                    <i class="bi bi-question-circle small-icon" data-toggle="tooltip" data-placement="right" title="{% trans 'Grade of each Dimension' %}"></i>
                                                                </h4>
                                                            </th>
                                                            <th colspan="2" style="text-align: center;">
                                                                <h4>
                                                                    {% trans "New Project" %}
                                                                    <i class="bi bi-question-circle small-icon" data-toggle="tooltip" data-placement="right" title="{% trans 'Grade of each Dimension' %}"></i>
                                                                </h4>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="more-content-body">
                                                        ${masteryTableRows}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        

        `;
        
        htmlContent += hiddenContent;

        

        // Sustituir el contenido de la sección #blackboard
        document.getElementById("Comparison").innerHTML = htmlContent;

        // Insertar el script dinámicamente
        let script = document.createElement("script");
        script.textContent = `
            (function() {
                var originalBlocks = ${JSON.stringify(data.Original.block_sprite_usage.result.categories)};
                var newBlocks = ${JSON.stringify(data.New.block_sprite_usage.result.categories)};

                // Preparar los datos para Chart.js
                var labelsOriginal = Object.keys(originalBlocks);
                var labelsNew = Object.keys(newBlocks);

                var originalData = Object.values(originalBlocks);
                var newData = Object.values(newBlocks);
                var colors = [
                    '#4C97FF', // Motion - Blue
                    '#9966FF', // Looks - Purple
                    '#CF63CF', // Sounds - Magenta
                    '#FFBF00', // Events - Yellow
                    '#FFAB19', // Control - Orange
                    '#FF6680', // Sensing - Pink
                    '#0FBD8C', // Operators - Green
                    '#FF8C1A',  // Variables - Dark Orange
                    '#E66464', // My Blocks - Red
                    '#808080'  // Others - Grey
                ];

                // Esperar a que el DOM esté listo antes de acceder a los elementos
                setTimeout(function() {
                    var ctxOriginal = document.getElementById('originalProjectChart');
                    var ctxNew = document.getElementById('newProjectChart');

                    if (ctxOriginal && ctxNew) {
                        var ctxOriginalChart = ctxOriginal.getContext('2d');
                        var ctxNewChart = ctxNew.getContext('2d');

                        new Chart(ctxOriginalChart, {
                            type: 'doughnut',
                            data: {
                                labels: labelsOriginal,
                                datasets: [{
                                    data: originalData,
                                    backgroundColor: colors
                                }]
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    tooltip: {
                                        callbacks: {
                                            label: function(tooltipItem) {
                                                return tooltipItem.label + ': ' + tooltipItem.raw + '%';
                                            }
                                        }
                                    },
                                    legend: { display: true, position: 'bottom' }
                                }
                            }
                        });

                        new Chart(ctxNewChart, {
                            type: 'doughnut',
                            data: {
                                labels: labelsNew,
                                datasets: [{
                                    data: newData,
                                    backgroundColor: colors
                                }]
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    tooltip: {
                                        callbacks: {
                                            label: function(tooltipItem) {
                                                return tooltipItem.label + ': ' + tooltipItem.raw + '%';
                                            }
                                        }
                                    },
                                    legend: { display: true, position: 'bottom' }
                                }
                            }
                        });
                    } else {
                        console.error("Los elementos canvas no se encontraron en el DOM.");
                    }
                }, 100);  // Retraso para asegurarse de que los elementos están en el DOM
            })();
        `;

        // Agregar el script al body para que se ejecute
        document.body.appendChild(script);


            })
        .catch(error => {
            console.error("There was a problem with the fetch operation:", error);
        });
        
    });
    
    </script>
</div>
