{% load i18n %}
{% load static %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <link rel="stylesheet" href="./static/app/content/bootstrap-tour.css">
    <script src="./static/app/scripts/bootstrap.min.js"></script>
    <script src="./static/app/scripts/bootstrap-tour.js"></script>
    <script src="./static/app/scripts/googleAnalytics.js"></script>
    <script src="./static/app/scripts/scratchblocks-v3.4-min.js"></script>

    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="./static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="./static/app/images/favicon.ico">
    <link rel="stylesheet" href="./static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="./static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="./static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="./static/app/content/bootstrap.min.css">
    <link rel="stylesheet" href="./static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="./static/app/content/owl_002.css">
    <link rel="stylesheet" href="./static/app/content/owl.css">
    <link rel="stylesheet" href="./static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="./static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="./static/app/content/styles.css">
    <link rel="stylesheet" href="./static/app/content/basic.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="./static/app/content/styles.css">
    {% if summary.Mastery == "Basic" %}
        <link rel="stylesheet" href="./static/app/content/basic.css">
    {% elif summary.Mastery == "Developing" %}
        <link rel="stylesheet" href="./static/app/content/developing.css">
    {% elif summary.Mastery == "Master" %}
        <link rel="stylesheet" href="./static/app/content/master.css">
    {% elif summary.Mastery == "Advanced" %}
        <link rel="stylesheet" href="./static/app/content/advanced.css">
    {% elif summary.Mastery == "Finesse" %}
        <link rel="stylesheet" href="./static/app/content/finesse.css">
    {% endif %}

    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="./static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="./static/app/content/red.css">

    <script>
                    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
                    </script>

    <script>
    // Instance the tour
    // Initialize the tour
    $(document).ready(function(){
     $("#tour").click(function(){
    var tour = new Tour({
      storage: false,
      backdrop: true,
     steps: [
      {
        element: "#stepone",
        title: "{% trans 'Score' %}",
        content: "{% trans 'This section shows the total score.' %}"
      },
      {
        element: "#steptwo",
        title: "{% trans 'Certificate' %}",
        content:"{% trans 'Download your certificate!'%}"
      },
      {
        element: "#stepthree",
        title: "{% trans 'Score in detail'%}",
        content: "{% trans 'Here we show the score in each programming skill as well as links to sites that can help you to level up.' %}",
        placement:'left'
      }
    ]});
            tour.init();
            tour.start();

        });
});
    </script>
    <script>
    $(document).ready(function(){

    var filename = "{{ filename }}";
    var level = "{{ mastery.points}}/{{ mastery.maxi }}";
    var list =[filename,level];
    $("#certificate").val(list.toString());
    });

    </script>
    <script>
        $(document).ready(function() {
            scratchblocks.renderMatching('pre.blocks', {
            style:     'scratch3',   // Optional, defaults to 'scratch2'.
            languages: ['en'], // Optional, defaults to ['en'].
            scale: 0.5,                // Optional, defaults to 1
            });
        })
        
    </script>

    <script>
        $(document).ready(function() {
            $('.progress-bar').each(function() {
                var progressBar = $(this);
                var progressValue = parseFloat(progressBar.attr('aria-valuenow'));
                var maxValue = parseFloat(progressBar.attr('aria-valuemax'));
                var percentage = (progressValue / maxValue) * 100;
    
                if (percentage <= 33) {
                    progressBar.removeClass('progress-bar-success progress-bar-warning');
                    progressBar.addClass('progress-bar-danger');
                } else if (percentage > 33 && percentage <= 66) {
                    progressBar.removeClass('progress-bar-success progress-bar-danger');
                    progressBar.addClass('progress-bar-warning');
                } else {
                    progressBar.removeClass('progress-bar-danger progress-bar-warning');
                    progressBar.addClass('progress-bar-success');
                }
            });
        });
    </script>

</head>
<body>
    <div id="wrap">
            
    <!-- JUMBOTRON -->
<div class="container">


  <!-- Score in detail -->
    <div class="col-md-7">
        <section id="dashboard">
            <div class="container-fluid" id="stepfour">
                <div class="row marketing">
                    <div class="jumbotron" style="max-width: 40%;">
                        <div class="table-responsive" style="box-sizing:border-box; min-height:.01%; overflow-x:auto; text-align: center; padding-top: 0px;">
                            <h4>{% trans "Analysis Complete!!" %}</h4>
                            <table class="table tablesorter">
                                <thead>
                                    <th></th>
                                    <h5 class="text-primary">{% trans "You can download the csv clicking " %}<a href="{{ url }}"><span class="text-danger">{% trans "HERE" %}</span></a></h5>
                                </thead>
                                <tbody>
                                    
                                
                                    
                                </tbody>
                                
                            </table>
                            <h5 class="text-warning">{% trans "Summary: " %}</h5>
                            <h5 class="text-info">{% trans 'Projects Analyzed: ' %}{{ summary.num_projects }}</h5>
                            <h6 class="text-warning">{% trans "Average Score: " %}</h6>
                                {% for skill, value in summary.items %}
                                    {% if skill != 'num_projects' and skill != 'maxi' and skill != 'Mastery' %}
                                        {% if value.0 >= value.2 %}
                                            <h5><span class="text-info">{{ skill }}: </span><span class="text-success" style="font-size: 20px;">
                                                {% if value.0|floatformat:"-1" == value.0|floatformat:"0" %}
                                                    {{ value.0|floatformat:"0" }}
                                                {% else %}
                                                    {{ value.0 }}
                                                {% endif %}
                                                /
                                                {% if value.1|floatformat:"-1" == value.1|floatformat:"0" %}
                                                    {{ value.1|floatformat:"0" }}
                                                {% else %}
                                                    {{ value.1 }}
                                                {% endif %}
                                            </span></h5>
                                        {% else %}
                                            <h5><span class="text-info">{{ skill }}: </span><span class="text-danger" style="font-size: 20px;">
                                                {% if value.0|floatformat:"-1" == value.0|floatformat:"0" %}
                                                    {{ value.0|floatformat:"0" }}
                                                {% else %}
                                                    {{ value.0 }}
                                                {% endif %}
                                                /
                                                {% if value.1|floatformat:"-1" == value.1|floatformat:"0" %}
                                                    {{ value.1|floatformat:"0" }}
                                                {% else %}
                                                    {{ value.1 }}
                                                {% endif %}
                                            </span></h5>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            <h6 class="text-warning">{% trans "Average Mastery: " %}</h6>
                            {% if summary.Mastery == 'Master' %}
                                <h5 class="text-success">{{ summary.Mastery }}</h5>  
                            {% elif summary.Mastery == 'Developing' %}
                                <h5 class="text-warning">{{ summary.Mastery }}</h5>  
                            {% else %}
                                <h5 class="text-danger">{{ summary.Mastery }}</h5>  
                            {% endif %}
                            <a href="https://www.drscratch.org/">
                                <img src="https://www.drscratch.org/static/app/images/logo_main.png" alt="" width="220" height="70.1667">
                            </a>                                    
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="refactor">
            {% for refactor_dict in refactor.refactor_list %}
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#originalCollapse{{ forloop.counter }}" aria-expanded="false" aria-controls="originalCollapse{{ forloop.counter }}">
                  Display Original Blocks!
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#refactoredCollapse{{ forloop.counter }}" aria-expanded="false" aria-controls="refactoredCollapse{{ forloop.counter }}">
                    Display Solution!
                  </button>
              </p>
              <div class="collapse" id="originalCollapse{{ forloop.counter }}">
                <div class="card card-body">
                    <pre class="blocks">
                        {{ refactor_dict.original }}
                    </pre>
                </div>
              </div>
              <div class="collapse" id="refactoredCollapse{{ forloop.counter }}">
                <div class="card card-body">
                    <pre class="blocks">
                        {{ refactor_dict.refactored }}
                    </pre>
                </div>
              </div>
            {% endfor %}
        </div>
     </div>
</div>

    
    </div>
    
        <script>
            // Función para establecer la misma altura en todas las columnas
            function equalizeColumnHeight() {
                var maxColumnHeight = 0;
                // Iterar sobre todas las columnas
                $('.col-md-4').each(function() {
                    // Obtener la altura de la columna actual
                    var columnHeight = $(this).height();
                    // Comparar con la altura máxima encontrada hasta ahora
                    if (columnHeight > maxColumnHeight) {
                        maxColumnHeight = columnHeight;
                    }
                });
                // Establecer la misma altura en todas las columnas
                $('.col-md-4').height(maxColumnHeight);
            }
        
            // Llamar a la función cuando el documento esté listo y cuando se redimensione la ventana
            $(document).ready(equalizeColumnHeight);
            $(window).resize(equalizeColumnHeight);
        </script>
        
        <!-- Scripts de Bootstrap y jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>