{% extends 'main/dashboard_template.html' %}
{% load i18n %}
{% block content %}

<!-- NAV-MODES -->
        
        <div class="container" id="stepone">
            <section id="dashboard">
               
            </section>
        </div>
        
        <style>
            /* Estilos para la sección */
            .bg-success {
              background-color: #E6F0FF; /* Establece el color de fondo gris */
              height: 600px; /* Establece la altura en 500px */
              width: 100%; /* Establece el ancho al 100% de la pantalla */
            }

            .square-container {
                margin-top: 20px;
                width: 100px; /* Establece el ancho del contenedor en 50px */
                height: 100px; /* Establece la altura del contenedor en 50px */
                background-color: white; /* Establece el color de fondo blanco */
                border-radius: 10px; /* Establece el radio del borde en 10px */
                text-align: center; /* Centra el texto horizontalmente */
                line-height: 50px; /* Alinea verticalmente el texto */
            }

            .square-screen {
                margin-top: 20px;
                width: 100%; /* Establece el ancho del contenedor en 50px */
                height: 500px; /* Establece la altura del contenedor en 50px */
                background-color: #F9F9F9; /* Establece el color de fondo blanco */
                border-radius: 10px; /* Establece el radio del borde en 10px */
                text-align: center; /* Centra el texto horizontalmente */
                line-height: 50px; /* Alinea verticalmente el texto */
            }
        </style>


        

        <!-- RECOMENDER (STYLES AND SCRIPTS) -->
        <style>
            .typed-family {
                font-family: 'Courier New', Courier, monospace;
                color: #333;
                white-space: pre-wrap;
                text-align: left;
                font-size: 15px;
            }
        </style>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Fetch and process the message to type
                var message = "{{ recomenderSystem.message|escapejs }}";
                var explanation = "{{ recomenderSystem.explanation|escapejs }}";
                var farwell = "{{ recomenderSystem.farwell|escapejs }}";
                message = message.replace(/\u001b\[95m/g, '<span style="color: magenta;">').replace(/\u001b\[0m/g, '</span>');
                console.log(message)
                console.log(explanation)
                // Check if there are any blocks to process
                var blocksExist = {% if recomenderSystem.blocks %} true {% else %} false {% endif %};

                if (blocksExist) {
                    // Create and hide pre elements for each block
                    {% for block in recomenderSystem.blocks %}
                        var indexBlock = "{{ forloop.counter0|add:1 }}"; // Out ids starts on 1 instead of 0, this easy for block selector
                        var blockName = `recomBlock${indexBlock}`;

                        // Creates the legend "This block is in the sprite bla"
                        var preLegend = document.createElement('p');
                        var blockLegend = `{{ block.1|escapejs }}`;
                        blockLegend = blockLegend.replace(/\u001b\[95m/g, '<span style="color: magenta;">').replace(/\u001b\[0m/g, '</span>');
                        preLegend.innerHTML = blockLegend;
                        preLegend.className = `typed-family`; 
                        
                        // Creates the block image
                        var deadBlockContent = `{{ block.0|escapejs }}`;
                        var preElement = document.createElement('pre');
                        preElement.className = 'blocks';
                        preElement.innerHTML = deadBlockContent;

                        // Creates the container that contains the block and the legend
                        var blockContainer = document.createElement('div');
                        blockContainer.id = blockName;
                        blockContainer.style.display = 'none';
                        document.getElementById('blocks-recomender').appendChild(blockContainer);   
                        blockContainer.appendChild(preLegend);
                        blockContainer.appendChild(preElement);
                        
                        // Update total value of the block selector
                        document.getElementById('totSelValue').textContent = "{{ forloop.counter0|add:1 }}";
                    {% endfor %}
                } 

                function listenSelector() {
                    /*
                    This function controls the block selector
                    IMPORTANT: Remember that the div that contains the block and legend
                    has an id that starts in 1 instead of 0, this is for the number of the
                    block selector indicator and div id matches.
                    */
                    var prevSelector = document.getElementById('prevBlock');
                    var nextSelector = document.getElementById('nextBlock');
                    var currSelValueElem = document.getElementById('currSelValue');
                    var totSelValueElem = document.getElementById('totSelValue');

                    var currSelValue = parseInt(currSelValueElem.textContent);
                    var totSelValue = parseInt(totSelValueElem.textContent);              

                    prevSelector.addEventListener("click", function() {
                        if (currSelValue >= 2) {
                            document.getElementById(`recomBlock${currSelValue}`).style.display = 'none';
                            currSelValue--;
                            currSelValueElem.textContent = currSelValue; 
                            
                            document.getElementById(`recomBlock${currSelValue}`).style.display = 'block';
                        }
                    });

                    nextSelector.addEventListener("click", function() {
                        if (currSelValue < totSelValue) {
                            document.getElementById(`recomBlock${currSelValue}`).style.display = 'none';
                            currSelValue++;
                            currSelValueElem.textContent = currSelValue; 
                            document.getElementById(`recomBlock${currSelValue}`).style.display = 'block';
                        }  
                    });
                }

                function typed_farwell() {
                    var typed_farwell = new Typed('#typed-farwell', {
                        strings: [farwell],
                        typeSpeed: 20,
                        backSpeed: 25,
                        backDelay: 1000,
                        loop: false,
                        showCursor: false,
                    });
                }

                function typed_explanation() {
                    var typed_explanation = new Typed('#typed-explanation', {
                        strings: [explanation],
                        typeSpeed: 20,
                        backSpeed: 25,
                        backDelay: 1000,
                        loop: false,
                        showCursor: false,
                        onComplete: function() {
                            typed_farwell();
                        }
                    });
                }
                
                // Initialize typed.js
                var typed_message = new Typed('#typed-message', { // Assuming you want to type in the first block
                    strings: [message],
                    typeSpeed: 20,
                    backSpeed: 25,
                    backDelay: 1000,
                    loop: false,
                    showCursor: false,
                    onComplete: function() {
                        if (blocksExist) {
                            var blockSelector = document.getElementById('block-selector');
                            blockSelector.style.display = 'block';

                            // We have to show the first block (index 0)
                            document.getElementById('recomBlock1').style.display = 'block';
                            listenSelector();

                            // Type of the explanation after the block section
                            typed_explanation();
                        } else {
                            typed_explanation();
                        }
                    }
                });
            });
            </script>
        
        

            <div class="container d-flex justify-content-center">
                

                <div class="col-md-9">
                    
                    <section id="dashboard" style="padding-top: 3.5%;">

                        <div class="card" style="min-height: 80px;">
                            <div class="container-fluid">   
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-1 d-flex">
                                        <img src="/static/app/images/cat_chat.png" class="position-absolute top-20 start-90" style="max-width: 100%; width: 100%; padding: 10px;" alt="">
                                    </div>
                                    <div class="col-md-11">
                                        <div id="typed-message" class="typed-family"></div>
                                        <div id="block-selector" style="display: none;">
                                            <a id="prevBlock" style="cursor: pointer;"> &lt; </a><span class="typed-family" id="currSelValue">1</span><span class="typed-family"> / </span><span  class="typed-family" id="totSelValue">30</span><a id="nextBlock" style="cursor: pointer;"> &gt;</a>                                     
                                        </div>
                                        
                                        <div id="blocks-recomender" class="typed-family"></div>
                                        <br>
                                        <div id="typed-explanation" class="typed-family"></div>
                                        <br>
                                        <div id="typed-farwell" class="typed-family"></div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <br></br>
        
                    </section>
                </div>
                <br></br>
            </div>
        
        

{% endblock %}