{% load i18n %}
<!doctype html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
        <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
        <meta name="author" content="Programamos URJC Libresoft FECyT">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="../../static/app/content/scratchblocks2.css">
        <!-- <script src="../../static/app/scripts/bootstrap-modal.js"></script> -->
        <script src="../../static/app/scripts/translations.js"></script>
        <!-- <script src="../../static/app/scripts/bootstrap.js"></script> -->
        <link rel="stylesheet" href="../../static/app/content/bootstrap-tour.css">
        <script src="../../static/app/scripts/bootstrap.min.js"></script>
        <script src="../../static/app/scripts/bootstrap-tour.js"></script>
        <script src="../../static/app/scripts/googleAnalytics.js"></script>
        <script src="../../static/app/scripts/scratchblocks-v3.4-min.js"></script>
        <!-- str typing simulation -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

        <!-- GIT GRAPH -->
        <script src="https://unpkg.com/@gitgraph/js@1.4.0"></script>

        <!-- SITE TITLE -->
        <title>Dr. Scratch</title>

        <link rel="stylesheet" href="/static/app/content/style.css">
        <!-- =========================
            FAV AND TOUCH ICONS AND FONT
        ============================== -->
        {% if dashboard_mode == 'Recommender' %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        {% else %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% endif %}
        <link rel="icon" href="/static/app/images/favicon.ico">
        <link rel="stylesheet" href="static/app/icons/icons.css">
        <link type="text/css" rel="stylesheet" href="/static/app/content/css_002.css">
        <link type="text/css" rel="stylesheet" href="/static/app/content/css.css">
        <!-- =========================
            STYLESHEETS
        ============================== -->
        <!-- BOOTSTRAP AND ANIMATION -->
        <link rel="stylesheet" href="/static/app/content/bootstrap.min.css">
        <link rel="stylesheet" href="/static/app/content/animate.css">

        <!-- CAROUSEL AND LIGHTBOX -->
        <link rel="stylesheet" href="../../static/app/content/owl_002.css">
        <link rel="stylesheet" href="../../static/app/content/owl.css">
        <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
        <link rel="stylesheet" href="../../static/app/content/default.css">

        <!-- CUSTOM STYLESHEETS -->
        <link rel="stylesheet" href="../../static/app/content/styles.css">
        {% if mastery.competence == "Basic" %}
            <link rel="stylesheet" href="/static/app/content/basic.css">
        {% elif mastery.competence == "Developing" %}
            <link rel="stylesheet" href="/static/app/content/developing.css">
        {% elif mastery.competence == "Master" %}
            <link rel="stylesheet" href="/static/app/content/master.css">
        {% elif mastery.competence == "Advanced" %}
            <link rel="stylesheet" href="/static/app/content/advanced.css">
        {% elif mastery.competence == "Finesse" %}
            <link rel="stylesheet" href="/static/app/content/finesse.css">
        {% endif %}

        <!-- RESPONSIVE FIXES -->
        <link rel="stylesheet" href="../../static/app/content/responsive.css">

        <!-- DEFAULT COLOR/ CURRENTLY USING -->
        <link rel="stylesheet" href="../../static/app/content/red.css">




        <script>
                window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
        </script>
        <script>
            $(document).ready(function () {
                $('.dropdown').popover();
            });
        </script>
        <script>
            $(document).ready(function() {
                scratchblocks.renderMatching('pre.blocks', {
                style:     'scratch3',   // Optional, defaults to 'scratch2'.
                languages: ['en'], // Optional, defaults to ['en'].
                scale: 0.5,                // Optional, defaults to 1
                });
            })
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                // Function to handle link click
                function handleLinkClick(event, urlProjectValue) {
                    event.preventDefault();  // Prevent the default link click behavior

                    // Define the data to be sent
                    const data = {
                        dashboard_mode: 'Recommender',
                        urlProject: urlProjectValue,
                        _url: 'url' // Assuming you handle file uploads differently
                    };

                    // Create a hidden form element
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = event.currentTarget.href;
                    form.target = '_blank';

                    // Append CSRF token
                    const csrfToken = '{{ csrf_token }}';
                    const csrfInput = document.createElement('input');
                    csrfInput.type = 'hidden';
                    csrfInput.name = 'csrfmiddlewaretoken';
                    csrfInput.value = csrfToken;
                    form.appendChild(csrfInput);

                    // Append data to the form
                    for (const key in data) {
                        const input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = key;
                        input.value = data[key];
                        form.appendChild(input);
                    }

                    // Append form to the body and submit
                    document.body.appendChild(form);
                    form.submit();
                }

                // Add event listeners to the links
                document.getElementById('Recommender').addEventListener('click', function(event) {
                    handleLinkClick(event, '{{ url }}');
                });

            });
        </script>
        
        <script>
            $(document).ready(function(){
                var isMouseOverPopover = false;
            
                $('.dropdown').popover({
                    trigger: 'manual',
                    html: true,
                    animation: false
                }).on('mouseenter', function () {
                    var contentId = $(this).attr('id');
                    if (contentId === 'dead-code') {
                        var content = $(this).next('#dead-code-content').html();
                        $(this).attr('data-content', content);
                    } else if (contentId === 'duplicated-scripts') {
                        var content = $(this).next('#duplicated-scripts-content').html();
                        $(this).attr('data-content', content);
                    } else {
                        var _this = this;
                    }
                    $(this).popover('show');
                    $('.popover').on('mouseenter', function () {
                        isMouseOverPopover = true;
                    }).on('mouseleave', function () {
                        isMouseOverPopover = false;
                        $(_this).popover('hide');
                    });
                }).on('mouseleave', function () {
                    var _this = this;
                    setTimeout(function () {
                        if (!isMouseOverPopover) {
                            $(_this).popover('hide');
                        }
                    }, 100);
                });
            });
                
        </script>

        <script>
            function modalContentChange(contentId) {
                var content = document.getElementById(contentId).innerHTML;
                document.getElementById("modalContentChange").innerHTML = content;
                $('#exampleModal').modal('show');
            }
        </script>

        <script>
            $(document).ready(function() {
                $('.progress-bar').each(function() {
                    var progressBar = $(this);
                    var progressValue = parseFloat(progressBar.attr('aria-valuenow'));
                    var maxValue = parseFloat(progressBar.attr('aria-valuemax'));
                    var percentage = (progressValue / maxValue) * 100;
        
                    if (percentage <= 33) {
                        progressBar.removeClass('progress-bar-success progress-bar-warning');
                        progressBar.addClass('progress-bar-danger');
                    } else if (percentage > 33 && percentage <= 66) {
                        progressBar.removeClass('progress-bar-success progress-bar-danger');
                        progressBar.addClass('progress-bar-warning');
                    } else {
                        progressBar.removeClass('progress-bar-danger progress-bar-warning');
                        progressBar.addClass('progress-bar-success');
                    }
                });
            });
        </script>

        <script>
            $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        <script>
            function submitLanguageForm() {
                // Crear un objeto FormData para el primer formulario
                var formData = new FormData(document.getElementById('language-form'));
            
                // Realizar el POST al endpoint /i18n/setlang/
                fetch("/i18n/setlang/", {
                    method: 'POST',
                    body: formData,
                    credentials: 'same-origin',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(response => {
                    if (response.ok) {
                        // Si el POST es exitoso, realizar el POST a /show_dashboard/
                        document.getElementById('dashboard-form').submit();
                    } else {
                        console.error('Error al cambiar el idioma');
                    }
                }).catch(error => {
                    console.error('Error de red:', error);
                });
            }
            </script>
        
        <style>
            .btn-primary {
                background-color: #1792A4;
            }
            .btn-primary:hover {
                background-color: #4CA8A1;
            }
            .btn-primary:focus {
                background-color: #4CA8A1;
            }
            .tab {
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /* Style the buttons that are used to open the tab content */
            .tab button {
            background-color: #fc3b3b;
            color: white;
            font-family: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 6px; 
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1)); 
            margin-right: 20px;
            }
            /* Change background color of buttons on hover */
            .tab button:hover {
            background-color: #d63031;
            }
            /* Create an active/current tablink class */
            .tab button.active {
            background-color: #FF8B8B;
            }
            .bad-smells-title {
                font-size: 3rem;
                font-weight: bold;
                color: #fc3b3b;
                text-align: center;
                padding: 30px 0;
                position: relative;
            }
            .bad-smells-title::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -10px;
                height: 10px;
            }
            .bad-smells-title::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -10px;
                height: 10px;
            }
            .island {
                margin-bottom: 20px;
            }
            .content {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                z-index: 999;
                overflow-y: auto;
                padding: 20px;
                box-sizing: border-box;
            }
            .island img {
                max-width: 100%;
                height: auto;
                cursor: pointer;
            }
            #dashboard .row {
                position: relative;
            }
            .small-icon {
                font-size: 1rem;
                vertical-align: middle;
            }
            .popover {
                max-width: 700px; /* Establece el ancho máximo */
                /* Otros estilos personalizados */
            }
            .language-content {
                cursor: pointer;
            }


        </style>    

    </head>

    <body>
        <div id="wrap" style="width: 100%;">
            <!-- TOP BAR -->
            <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
                <div class="container">
                    <!-- NAVIGATION LINK -->
                    {% if dashboard_mode == "Recommender" %}
                        <div class="col-md-11">
                            <a href="/" style="padding-left: 8%;">
                                <img src="static/app/images/logo_main.png" alt="" width="220" height="70.1667">
                            </a>
                        </div>
                        <div class="col-md-1">
                            <ul class="nav navbar-nav navbar-right login-register small-text">
                                <li style="display: block;" class="login dropdown">
                                    <a aria-expanded="false" type="button" data-toggle="dropdown" class="dropdown-toggle language-content" data-hover="dropdown" style="padding-top: 50%;">
                                        <span class="icon-basic-world"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu" style="padding: 20px;">
                                        <li style="padding-left: 20px;">
                                            <div>
                                                <form id="language-form" action="/i18n/setlang/" method="post">
                                                    {% csrf_token %}
                                                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                                                    <select name="language" id="language-selector" onchange="submitLanguageForm()" class='btn-group btn-group-justified colored-text language-content'>
                                                        {% get_language_info_list for LANGUAGES as languages %}
                                                        {% for language in languages %}
                                                            {% if language.code == request.LANGUAGE_CODE %}
                                                                <option value="{{ language.code }}" selected>{{ language.name }} ({{ language.code }})</option>
                                                            {% else %}
                                                                <option value="{{ language.code }}">{{ language.name }} ({{ language.code }})</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </form>
                                                <form id="dashboard-form" action="/show_dashboard/" method="post" style="display: none;">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="dashboard_mode" value="{{ dashboard_mode }}">
                                                    <input type="hidden" name="urlProject" value="{{ url }}">
                                                    <input type="hidden" name="_url" value="{{ url }}">
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                    {% else %}
                        <a href="/" style="padding-left: 4%;">
                            <img src="static/app/images/logo_main.png" alt="" width="220" height="70.1667">
                        </a>
                        <ul class="nav navbar-nav navbar-right login-register small-text">
                            <li style="display: block;" class="login dropdown">
                                <a aria-expanded="false" type="button" data-toggle="dropdown" class="dropdown-toggle language-content" data-hover="dropdown" style="padding-top: 50%;">
                                    <span class="icon-basic-world"></span>
                                </a>
                                <ul role="menu" class="dropdown-menu" style="padding: 20px;">
                                    <li style="padding-left: 20px;">
                                        <div>
                                            <form id="language-form" action="/i18n/setlang/" method="post">
                                                {% csrf_token %}
                                                <input name="next" type="hidden" value="{{ redirect_to }}" />
                                                <select name="language" id="language-selector" onchange="submitLanguageForm()" class='btn-group btn-group-justified colored-text language-content'>
                                                    {% get_language_info_list for LANGUAGES as languages %}
                                                    {% for language in languages %}
                                                        {% if language.code == request.LANGUAGE_CODE %}
                                                            <option value="{{ language.code }}" selected>{{ language.name }} ({{ language.code }})</option>
                                                        {% else %}
                                                            <option value="{{ language.code }}">{{ language.name }} ({{ language.code }})</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </form>
                                            <form id="dashboard-form" action="/show_dashboard/" method="post" style="display: none;">
                                                {% csrf_token %}
                                                <input type="hidden" name="dashboard_mode" value="{{ dashboard_mode }}">
                                                <input type="hidden" name="urlProject" value="{{ url }}">
                                                <input type="hidden" name="_url" value="{{ url }}">
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                    
                </div>
            </div>
            <!-- /END TOP BAR -->
            <div id="url-container" data-url="{% url 'get_analysis_d' %}"></div>
    
            <!-- MAIN CONTENT -->
            <div id="main" class="container" style="min-height: 100%;">
                {% block content %} {% endblock %}
            </div>
    
            <!-- FOOTER -->
            <footer class="footer grey-bg text-center" style="min-width: 100%;">
                <p>{% trans "©2024 Dr.Scratch Made with " %} <span style="color: #e25555;">&#9829;</span> {% trans "by " %} <a href="/collaborators">{% trans "Dr.Scratch Team." %}</a></p>
                <!-- SOCIAL ICONS -->
                <ul class="social-icons list-inline">
                    <li class="list-inline-item">
                        <a href="https://github.com/Daniesmor/Dr.Scratch-Northeastern">
                            <i class="bi bi-github" style="color: black;"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/DrScratchTool">
                            <i class="bi bi-twitter-x" style="color: black;"></i>
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
    

    </body>
</html>