{% extends 'main/dashboard-template.html' %}
{% load i18n %}
{% block content %}

<!-- NAV-MODES -->
        
        <div class="container" id="stepone">
            <section id="dashboard">
                <div class="tab text-center">
                    <button class="tablinks active" onclick="openMode(event, 'Vanilla')">{% trans 'Vanilla Mode' %}</button>
                    <button class="tablinks" onclick="openMode(event, 'Extended')">{% trans 'Extended Mode' %}</button>
                    <button class="tablinks recommender-btn" onclick="openMode(event, 'Recommender')">{% trans 'Recommender Assistant' %}</button>
                    <button class="tablinks" onclick="openMode(event, 'Comparison')">{% trans 'Comparison Mode' %}</button>
                </div>
            </section>
        </div>
        
        <style>
            /* Estilos para la sección */
            .bg-success {
              background-color: #E6F0FF; /* Establece el color de fondo gris */
              height: 600px; /* Establece la altura en 500px */
              width: 100%; /* Establece el ancho al 100% de la pantalla */
            }

            .square-container {
                margin-top: 20px;
                width: 100px; /* Establece el ancho del contenedor en 50px */
                height: 100px; /* Establece la altura del contenedor en 50px */
                background-color: white; /* Establece el color de fondo blanco */
                border-radius: 10px; /* Establece el radio del borde en 10px */
                text-align: center; /* Centra el texto horizontalmente */
                line-height: 50px; /* Alinea verticalmente el texto */
            }

            .square-screen {
                margin-top: 20px;
                width: 100%; /* Establece el ancho del contenedor en 50px */
                height: 500px; /* Establece la altura del contenedor en 50px */
                background-color: #F9F9F9; /* Establece el color de fondo blanco */
                border-radius: 10px; /* Establece el radio del borde en 10px */
                text-align: center; /* Centra el texto horizontalmente */
                line-height: 50px; /* Alinea verticalmente el texto */
            }
        </style>
        
        <!-- VANILLA MODE -->
        {% include 'main/dashboard-vanilla-mode.html' %}

        <!-- EXTENDED MODE -->
        {% include 'main/dashboard-extended-mode.html' %}

        <!-- RECOMMENDER ASSISTANT -->
        {% include 'main/dashboard-recommender-assistant.html' %}

        <!-- COMPARISON MODE -->
        {% include 'main/dashboard-comparison-mode.html' %}
        
        

        <!-- MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document" style="width: 1250px;">
                <div class="modal-content" style="width: 1250px;" id="modalContentChange"></div>
            </div>
        </div>

        <div id="duplicated-scripts-content-r" style="display: none;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% trans 'Duplicates' %}</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {% if duplicateScript.number == 0 %}
                        <p> {% trans 'Your project does not have duplicated scripts, good job!' %}
                    {% else %}
                        <div class="card" id="refactorization">
                            {% for refactor_dict in refactor.refactor_list %}
                            <p>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#originalCollapse{{ forloop.counter }}" aria-expanded="false" aria-controls="originalCollapse{{ forloop.counter }}">
                                        {% trans 'Display Original Blocks!' %}
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#refactoredCollapse{{ forloop.counter }}" aria-expanded="false" aria-controls="refactoredCollapse{{ forloop.counter }}">
                                        {% trans 'Display Solution!' %}
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="collapse" id="originalCollapse{{ forloop.counter }}" data-bs-parent="#refactorization">
                                        <div class="card card-body">
                                            <pre class="blocks" style="width: 550px;">
                                                {{ refactor_dict.original }}
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="collapse" id="refactoredCollapse{{ forloop.counter }}" data-bs-parent="#refactorization">
                                        <div class="card card-body">
                                            <pre class="blocks" style="width: 550px;">
                                                {{ refactor_dict.refactored }}
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>

        <br></br>
        <script>
            function openMode(evt, ModeName) {
                // Declare all variables
                var i, tabcontent, tablinks;
                
                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                
                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(ModeName ).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>

        <script>
            // Show the Vanilla mode by default
            document.getElementById("Vanilla").style.display = "block";
            // Hide the others content
            document.getElementById("Extended").style.display = "none";
            document.getElementById("Recommender").style.display = "none";
            document.getElementById("Comparison").style.display = "none";
        </script>

{% endblock %}