{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <link rel="stylesheet" href="../../static/app/content/scratchblocks2.css">
    <!-- <script src="../../static/app/scripts/bootstrap-modal.js"></script> -->
    <script src="../../static/app/scripts/translations.js"></script>
    <!-- <script src="../../static/app/scripts/bootstrap.js"></script> -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap-tour.css">
    <script src="../../static/app/scripts/bootstrap.min.js"></script>
    <script src="../../static/app/scripts/bootstrap-tour.js"></script>
    <script src="../../static/app/scripts/googleAnalytics.js"></script>
    <script src="../../static/app/scripts/scratchblocks-v3.4-min.js"></script>


    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="/static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="icon" href="/static/app/images/favicon.ico">
    <link rel="stylesheet" href="static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="/static/app/content/bootstrap.min.css">
    <link rel="stylesheet" href="/static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../static/app/content/owl_002.css">
    <link rel="stylesheet" href="../../static/app/content/owl.css">
    <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="../../static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../static/app/content/styles.css">
    <link rel="stylesheet" href="/static/app/content/master.css">
    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="../../static/app/content/red.css">

    <script>
    // Instance the tour
    $(document).ready(function(){
        $("#tour").click(function(){
    var tour = new Tour({
      storage: false,
      backdrop: true,
      steps: [
      {
        element: "#stepone",
        title: "{% trans 'Score' %}",
        content: "{% trans 'This section shows the total score.' %}"
      },
      {
        element: "#steptwo",
        title: "{% trans 'Bad habits in programming' %}",
        content:"{% trans 'If you correct your bad habits in programming, you will avoid problems in the future.'%}"
      },
      {
        element: "#stepthree",
        title: "{% trans 'Certificate' %}",
        content:"{% trans 'Download your certificate!'%}"
      },
      {
        element: "#stepfour",
        title: "{% trans 'Score in detail'%}",
        content: "{% trans 'Here we show the score in each programming skill as well as links to sites that can help you to level up.' %}",
        placement:'left'
      }
    ]});
     tour.init();
    // Initialize the tour


            tour.start();

        });
});
    </script>
    <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
    <script>
        $(document).ready(function () {
            $('.dropdown').popover();
    });
    </script>
    <script>
        $(document).ready(function() {
            scratchblocks.renderMatching('pre.blocks', {
            style:     'scratch3',   // Optional, defaults to 'scratch2'.
            languages: ['en'], // Optional, defaults to ['en'].
            scale: 0.5,                // Optional, defaults to 1
            });
        })
    </script>
    <script>
        $(document).ready(function () {
            if("{{ dupCode }}" == ""){
                $("#dupCode").attr("data-content","{% trans 'Your project does not have duplicated scripts, good job!' %}");
            }else{
                str = "{{ dupCode }}".split(",");
                for (n in str){

                    if(n == 0){str[n] = str[n].slice(13,-11)}
                    else if(n == str.length-1) { str[n] = str[n].slice(14,-12)}
                    else{
                    str[n] = str[n].slice(14,-11)};
                };
                $("#dupCode").attr("data-content",str.join("\n"));
            }
        });
    </script>
    <script>
    $(document).ready(function(){

    var filename = "{{ filename }}";
    var level = "{{ mastery.points}}/{{ mastery.maxi }}";
    var list =[filename,level];
    $("#certificate").val(list.toString());
    });

    </script>

    <script>
        $(document).ready(function(){
            var isMouseOverPopover = false;
        
            $('.dropdown').popover({
                trigger: 'manual',
                html: true,
                animation: false
            }).on('mouseenter', function () {
                var contentId = $(this).attr('id');
                if (contentId === 'dead-code') {
                    var content = $(this).next('#dead-code-content').html();
                    $(this).attr('data-content', content);
                } else {
                   var _this = this;
                }
                $(this).popover('show');
                $('.popover').on('mouseenter', function () {
                    isMouseOverPopover = true;
                }).on('mouseleave', function () {
                    isMouseOverPopover = false;
                    $(_this).popover('hide');
                });
            }).on('mouseleave', function () {
                var _this = this;
                setTimeout(function () {
                    if (!isMouseOverPopover) {
                        $(_this).popover('hide');
                    }
                }, 100);
            });
        });
        
    </script>

    <script>

        

        document.addEventListener("DOMContentLoaded", function() {
            function hideDigits(digits) {
                var base32 = digits.toString(32);
                return base32;
            }

            document.getElementById("rubric-generator").addEventListener("submit", function(event) {
                event.preventDefault(); 
                


                var abstractionInput = document.getElementById("Abstraction");
                var parallelizationInput = document.getElementById("Parallelization");
                var logicThinkingInput = document.getElementById("LogicThinking");
                var synchronizationInput = document.getElementById("Synchronization");
                var flowControlInput = document.getElementById("FlowControl");
                var userInteractivityInput = document.getElementById("UserInteractivity");
                var dataRepresentationInput = document.getElementById("DataRepresentation");
                var mathOperators = document.getElementById("MathOperators");
                var motionOperators = document.getElementById("MotionOperators");


                var abstractionValue = abstractionInput.value;
                var parallelizationValue = parallelizationInput.value;
                var logicThinkingValue = logicThinkingInput.value;
                var synchronizationValue = synchronizationInput.value;
                var flowControlValue = flowControlInput.value;
                var userInteractivityValue = userInteractivityInput.value;
                var dataRepresentationValue = dataRepresentationInput.value;
                var mathOperatorsValue = mathOperators.value;
                var motionOperatorsValue = motionOperators.value;

                var digits = abstractionValue +
                        parallelizationValue +
                        logicThinkingValue +
                        synchronizationValue + 
                        flowControlValue + 
                        userInteractivityValue + 
                        dataRepresentationValue +
                        mathOperatorsValue +
                        motionOperatorsValue;

                
                var digits = hideDigits(parseInt(digits))
                var url = "http://127.0.0.1:8000/" + digits;
                // document.getElementById("url-share").innerText = url;
                var linkElement = document.createElement("a");
                linkElement.setAttribute("href", url);
                linkElement.textContent = url;

                var urlShareElement = document.getElementById("url-share");
                urlShareElement.innerHTML = ""; 
                urlShareElement.appendChild(linkElement); 
            });


        });

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Obtener las barras deslizadoras
            var sliders = document.querySelectorAll(".form-range");
    
            // Función para establecer los valores de las barras deslizadoras
            function setSliderValues(abstraction, parallelization, logicThinking, synchronization, flowControl, userInteractivity, dataRepresentation) {
                document.getElementById("Abstraction").value = abstraction;
                document.getElementById("Parallelization").value = parallelization;
                document.getElementById("LogicThinking").value = logicThinking;
                document.getElementById("Synchronization").value = synchronization;
                document.getElementById("FlowControl").value = flowControl;
                document.getElementById("UserInteractivity").value = userInteractivity;
                document.getElementById("DataRepresentation").value = dataRepresentation;
            }
    
            // Evento clic en los elementos de texto
            var textElements = document.querySelectorAll(".text-success");
            textElements.forEach(function(element) {
                element.addEventListener("click", function() {
                    switch (element.textContent.trim()) {
                        case "Games":
                            setSliderValues(3, 5, 3, 5, 5, 3, 3); // Games's Rubric
                            break;
                        case "Stories":
                            setSliderValues(2, 3, 2, 3, 3, 2, 2); // Stories's Rubric
                            break;
                        case "Animations":
                            setSliderValues(2, 3, 2, 2, 3, 2, 2); // Animation's Rubric
                            break;
                        case "Music":
                            setSliderValues(2, 2, 0, 5, 5, 2, 2); // Music's Rubric
                            break;
                        case "Arts":
                            setSliderValues(2, 2, 0, 2, 5, 5, 2); // Art's Rubric
                            break;
                        default:
                            break;


                        
                    }
                });
            });
        });
    </script>

    <style>
        .btn-primary {
            background-color: #1792A4;
        }
        .btn-primary:hover {
            background-color: #4CA8A1;
        }
        .btn-primary:focus {
            background-color: #4CA8A1;
        }
        .text-success {
            cursor: pointer; /* Cambiar el cursor a pointer cuando se pasa sobre el texto */
        }
        /* Cambiar el color azul por defecto a rojo en las barras deslizadoras en Firefox */
        input[type="range"]::-moz-range-progress {
            background-color: red; /* Color de la parte seleccionada */
            height: 8px; /* Ajustar el grosor de la barra de progreso */
        }
        /* Completar la parte no seleccionada con color gris */
        input[type="range"]::-moz-range-track {
            background-color: lightgrey; /* Color de la parte no seleccionada */
            height: 8px; /* Ajustar el grosor de la barra de progreso */
        }
        /* Cambiar el color del cursor cuando se manipula la barra deslizadora */
        input[type="range"]:active::-moz-range-thumb {
            background-color: red; /* Color del cursor cuando se está manipulando */
        } 
        /* Cambiar el estilo del puntero a uno más redondo */
        input[type="range"]::-moz-range-thumb {
            border-radius: 50%; /* Hacer el puntero redondo */
        }

    </style>
    
</head>
<body>
    <!-- TOP BAR -->
<div id="wrap">
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
        <div class="container">
            <div class="navbar-collapse collapse" id="stamp-navigation">
                    <!-- NAVIGATION LINK -->
                <a class="navbar-brand" href="/">
                    <img src="static/app/images/logo_main.png" alt="">
                </a>
                <ul class="nav navbar-nav navbar-right main-navigation ">
                        <li class="navbar-brand"><a class="navbar-brand pull-right" href="https://twitter.com/DrScratchTool"><span class="icon-social-twitter colored-text"></span></a></li>
                        <li class="navbar-brand"><a class="navbar-brand pull-right" href="mailto:kgblll@gsyc.urjc.es"><span class="icon-basic-mail colored-text"></span></a></li>
                        <li class="navbar-brand"><a class="btn btn-default" id="tour">{% trans "HELP" %}</a></li>
                        <li class="navbar-brand"><a class="navbar-brand pull-right">{% trans "Dr. Scratch(Beta Version)" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /END TOP BAR -->

<div class="container">
    
    <!-- BODY -->
    
    <section id="blackboard" class="services">
        <div class="display-center">
            <!-- Score in detail -->

            
            <div class="col-md-7">
                <section id="dashboard">
                    <div class="container-fluid" id="stepfour">
                        <div class="row marketing">
                            
                            <div class="jumbotron">
                                
                                <h4>Build your rubric!</h4>
                                <div id="personalized-options">
                                    <form action="" id="rubric-generator">
                                        <div class="form-group">
                                            <label for="Abstraction" class="form-label text-primary" style="color: black;">{% trans 'Abstraction' %}: <span id="Abstraction-value"></span></label>
                                            <input type="range" class="form-range" min="0" max="5" id="Abstraction" name="Abstraction">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="Parallelization" class="form-label text-primary" style="color: black;">{% trans 'Parallelization' %}: <span id="Parallelization-value"></span></label>
                                            <input type="range" class="form-range" min="0" max="5" id="Parallelization" name="Parallelization">
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="LogicThinking" class="form-label text-primary" style="color: black;">{% trans 'Logic Thinking' %}: <span id="LogicThinking-value"></span></label>
                                            <input type="range" class="form-range" min="0" max="5" id="LogicThinking" name="LogicThinking">
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="Synchronization" class="form-label text-primary" style="color: black;">{% trans 'Synchronization' %}: <span id="Synchronization-value"></span></label>
                                            <input type="range" class="form-range" min="0" max="5" id="Synchronization" name="Synchronization">
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="FlowControl" class="form-label text-primary" style="color: black;">{% trans 'Flow Control' %}: <span id="FlowControl-value"></span></label>
                                            <input type="range" class="form-range" min="0" max="5" id="FlowControl" name="FlowControl">
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="UserInteractivity" class="form-label text-primary" style="color: black;">{% trans 'User Interactivity' %}: <span id="UserInteractivity-value"></span></label>
                                            <input type="range" class="form-range" min="0" max="5" id="UserInteractivity" name="UserInteractivity">
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="DataRepresentation" class="form-label text-primary" style="color: black;">{% trans 'Data Representation' %}: <span id="DataRepresentation-value"></span></label>
                                            <input type="range" class="form-range" min="0" max="5" id="DataRepresentation" name="DataRepresentation">
                                        </div>

                                        <div class="form-group">
                                            <label for="MathOperators" class="form-label text-primary" style="color: black;">{% trans 'Math operators' %}: <span id="MathOperators-value"></span></label>
                                            <input type="range" class="form-range" min="0" max="5" id="MathOperators" name="MathOperators">
                                        </div>

                                        <div class="form-group">
                                            <label for="MotionOperators" class="form-label text-primary" style="color: black;">{% trans 'Motion operators' %}: <span id="MotionOperators-value"></span></label>
                                            <input type="range" class="form-range" min="0" max="5" id="MotionOperators" name="MotionOperators">
                                        </div>
                                    
                                        <button id="url" name='_url' type="submit" class="btn btn-primary standard-button">{% trans "Generate rubric" %}</button>
                                    </form>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section id="dashboard">
                        <div class="container-fluid" id="stepfour">
                            <div class="row marketing">
                                <div class="jumbotron">
                                    <h4>{% trans 'You can share this url:' %}</h4>
                                    <div id="personalized-options">
                                        <h5 class="text-success" id="url-share">{% trans 'First fill the form' %}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row marketing">
                                <div class="jumbotron">
                                    <h4>{% trans 'Here there are some rubrics examples:' %}</h4>
                                    <div id="personalized-options">
                                        <h5 class="text-success">{% trans 'Arts' %}</h5>
                                        <h5 class="text-success">{% trans 'Music' %}</h5>
                                        <h5 class="text-success">{% trans 'Animations' %}</h5>
                                        <h5 class="text-success">{% trans 'Stories' %}</h5>
                                        <h5 class="text-success">{% trans 'Games' %}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
            
        </div>

    </section>

  
</div>

    <footer class="footer grey-bg">
        <div class="container">
            <p><small>{% trans "© 2019 Dr. Scratch." %} Made with <span style="color: #e25555;">&#9829;</span> by <a href="/collaborators">Dr. Scratch Team</a></small></p>
            <ul class="social-icons">
                <li><a href="https:/twitter.com/drscratchtool"><span class="icon-font-social-twitter transparent-text-dark"></span></a></li>
                <li><a href="https://github.com/AngelaVargas/drscratchv3"><span class="icon-font-social-github transparent-text-dark"></span></a></li>
                <!--<li><a href="mailto:drscratch@gsyc.urjc.es"><span class="icon-font-social-mail transparent-text-dark"></span></a></li>-->
            </ul>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var sliders = document.querySelectorAll("input[type='range']");
        
            sliders.forEach(function(slider) {
                var sliderValue = document.getElementById(slider.id + "-value");
        
                // Actualizar el valor al cargar la página
                updateSliderValue(slider, sliderValue);
        
                // Actualizar el valor cuando el slider cambie
                slider.addEventListener("input", function() {
                    updateSliderValue(slider, sliderValue);
                });
            });
        });
        
        function updateSliderValue(slider, sliderValue) {
            sliderValue.textContent = slider.value;
        }
        
          
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var sliders = document.querySelectorAll("input[type='range']");
            
            sliders.forEach(function(slider) {
                var sliderValue = document.getElementById(slider.id + "-value");
            
                // Actualizar el valor al cargar la página
                updateSliderValue(slider, sliderValue);
            
                // Actualizar el valor cuando el slider cambie
                slider.addEventListener("input", function() {
                    updateSliderValue(slider, sliderValue);
                });
            });
    
            // Función para establecer los valores de los sliders y actualizar los span correspondientes
            function setSliderAndSpanValues(sliderId, value) {
                var slider = document.getElementById(sliderId);
                slider.value = value;
                updateSliderValue(slider, document.getElementById(sliderId + "-value"));
            }
    
            // Evento clic en los elementos de texto para establecer los valores predefinidos
            var textElements = document.querySelectorAll(".text-success");
            textElements.forEach(function(element) {
                element.addEventListener("click", function() {
                    switch (element.textContent.trim()) {
                        case "Games":
                            setSliderAndSpanValues("Abstraction", 2);
                            setSliderAndSpanValues("Parallelization", 3);
                            setSliderAndSpanValues("LogicThinking", 2);
                            setSliderAndSpanValues("Synchronization", 3);
                            setSliderAndSpanValues("FlowControl", 3);
                            setSliderAndSpanValues("UserInteractivity", 2);
                            setSliderAndSpanValues("DataRepresentation", 2);
                            break;
                        case "Stories":
                            setSliderAndSpanValues("Abstraction", 1);
                            setSliderAndSpanValues("Parallelization", 2);
                            setSliderAndSpanValues("LogicThinking", 1);
                            setSliderAndSpanValues("Synchronization", 2);
                            setSliderAndSpanValues("FlowControl", 2);
                            setSliderAndSpanValues("UserInteractivity", 1);
                            setSliderAndSpanValues("DataRepresentation", 1);
                            break;
                        case "Animations":
                            setSliderAndSpanValues("Abstraction", 1);
                            setSliderAndSpanValues("Parallelization", 2);
                            setSliderAndSpanValues("LogicThinking", 1);
                            setSliderAndSpanValues("Synchronization", 1);
                            setSliderAndSpanValues("FlowControl", 2);
                            setSliderAndSpanValues("UserInteractivity", 1);
                            setSliderAndSpanValues("DataRepresentation", 1);
                            break;                        
                        case "Music":
                            setSliderAndSpanValues("Abstraction", 1);
                            setSliderAndSpanValues("Parallelization", 1);
                            setSliderAndSpanValues("LogicThinking", 0);
                            setSliderAndSpanValues("Synchronization", 2);
                            setSliderAndSpanValues("FlowControl", 2);
                            setSliderAndSpanValues("UserInteractivity", 1);
                            setSliderAndSpanValues("DataRepresentation", 1);
                            break;
                        case "Arts":
                            setSliderAndSpanValues("Abstraction", 1);
                            setSliderAndSpanValues("Parallelization", 1);
                            setSliderAndSpanValues("LogicThinking", 0);
                            setSliderAndSpanValues("Synchronization", 1);
                            setSliderAndSpanValues("FlowControl", 2);
                            setSliderAndSpanValues("UserInteractivity", 2);
                            setSliderAndSpanValues("DataRepresentation", 1);
                            break;
                        default:
                            break;
                    }
                });
            });
        });
    </script>
    

</body>
</html>
