{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/app/content/scratchblocks2.css">
    <!-- <script src="../../static/app/scripts/bootstrap-modal.js"></script> -->
    <script src="../../static/app/scripts/translations.js"></script>
    <!-- <script src="../../static/app/scripts/bootstrap.js"></script> -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap-tour.css">
    <script src="../../static/app/scripts/bootstrap.min.js"></script>
    <script src="../../static/app/scripts/bootstrap-tour.js"></script>
    <script src="../../static/app/scripts/googleAnalytics.js"></script>
    <script src="../../static/app/scripts/scratchblocks-v3.4-min.js"></script>


    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="/static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="/static/app/images/favicon.ico">
    <link rel="stylesheet" href="static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="/static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="/static/app/content/bootstrap.min.css">
    <link rel="stylesheet" href="/static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../static/app/content/owl_002.css">
    <link rel="stylesheet" href="../../static/app/content/owl.css">
    <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="../../static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../static/app/content/styles.css">
    <link rel="stylesheet" href="/static/app/content/master.css">
    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="../../static/app/content/red.css">

    

    <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.forms["form"];

            function updateUrl(number) {
                form.action = "/show_dashboard/" + number;
                console.log(form.action);
            }

            function obtainNumbersOfUrl(url) {
                var urlObj = new URL(url);
                var path = urlObj.pathname;
                var parts = path.split('/');
                var number = parts.pop();
                updateUrl(number);
            }

            // Update of the URL for the Sliders
            var url = window.location.href;
            obtainNumbersOfUrl(url);
        });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('#batch-form').addEventListener('submit', function(event) {
            var emailInput = document.querySelector('input[name="batch-email"]');
            var fileInput = document.querySelector('input[name="urlsFile"]');
            var emailWarning = document.getElementById('email-warning');
            var txtWarning = document.getElementById('txt-warning');
            var emailInput = document.querySelector('input[name="batch-email"]');
            var valid = true;
        
            if (!emailInput.value.trim()) {
                emailWarning.style.display = 'block'; 
                valid = false; 
            } else {
                emailWarning.style.display = 'none'; 
            }
        
            if (!fileInput.files.length) {
                txtWarning.style.display = 'block'; 
                valid = false; 
            } else {
                txtWarning.style.display = 'none'; 
            }
        
            if (!valid) {
                event.preventDefault();
            }
        });    
    });
</script>


    <style>
        .btn-primary {
            background-color: #1792A4;
        }
        .btn-primary:hover {
            background-color: #4CA8A1;
        }
        .btn-primary:focus {
            background-color: #4CA8A1;
        }
        .language-content {
            cursor: pointer;
        }

    </style>
    
</head>
<body>
<div id="mywrapper">
    <!-- TOP BAR -->
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
        <div class="container">
            <!-- NAVIGATION LINK -->
            <a href="/" style="padding-left: 4%;">
                <img src="static/app/images/logo_main.png" alt="" width="220" height="70.1667">
            </a>
            <ul class="nav navbar-nav navbar-right login-register small-text">
                <li style="display: block;" class="login dropdown">
                    <a aria-expanded="false" type="button" data-toggle="dropdown" class="dropdown-toggle language-content" data-hover="dropdown" style="padding-top: 50%;">
                        <span class="icon-basic-world"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu" style="padding: 20px;">
                        <li style="padding-left: 20px;">
                            <div>
                                <form action="/i18n/setlang/" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                                    <select name="language" onchange="this.form.submit()" class='btn-group btn-group-justified colored-text language-content'>
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            {% if language.code == request.LANGUAGE_CODE %}
                                                <option value="{{ language.code }}" selected>{{ language.name }} ({{ language.code }})</option>
                                            {% else %}
                                                <option value="{{ language.code }}">{{ language.name }} ({{ language.code }})</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <!-- /END TOP BAR -->

<div class="container">
    
    <!-- BODY -->
    
    
    <h4>  {% trans "Do you want to analyze one project?" %}</h4>

    <!-- VERTICAL PROJECT FORM -->
    <div class="col-md-7 col-md-offset-2">
        <br></br>
        <div class="vertical-project-form">
            <h4>  {% trans "Do you want to analyze one project?" %}</h4>

            <h5 class="dark-text form-heading"><strong>{% trans "There are three options to analyze your Scratch project now!" %}</strong></h5>
            <form name="form" id="form-personalized" class="project-form" enctype="multipart/form-data" method="post" action="/show_dashboard/">

                <input type="hidden" name="dashboard_mode" value="Personalized">
                {% trans "1. Introduce the <span class='colored-text'><a data-toggle='modal' href='#modalUrl'>url</a></span> of your Scratch project, you don't have to download it:" %}
                {% trans '<input name="urlProject" id="cf-name" class="form-control input-box placeholder" placeholder="http:/scratch.mit.edu/projects/your_number" type="text">' %}
                <button id="url" name='_url' type="submit" class="btn btn-primary standard-button">{% trans "Analyze by url" %}</button>
                {% csrf_token %}
                <br><br>
                {% csrf_token %}
                {% trans "2. If you have your <span class='colored-text'><a data-toggle='modal' href='#modalProject'>project</a></span> downloaded in the computer you can analyze it here:" %}
                {% trans "<input  name='zipFile' type='file' class='filestyle' data-buttonText='Choose Project'>" %}
                <button id="upload" name='_upload' type="submit" class="btn btn-primary standard-button">{% trans "Analyze my project" %}</button>
                <br></br>
               
                {% csrf_token %}
                

            </form>

            
            <form name="form" class="project-form" id="batch-form" enctype="multipart/form-data" method="post" action="/show_dashboard/" style="margin-top: 50px;">
                <h3><strong>{% trans "Batch Mode" %}</strong></h3>

                <p><span class='colored-text'>{% trans "IMPORTANT!" %}</span> {% trans "Please upload a <span class='colored-text'><a data-toggle='modal' href='#modalTxt'>txt</a></span> containing the URLs of the projects, with each URL on a separate line. Or a <span class='colored-text'>zip</span> containing the .sb3 (Max. 10)" %}</p>

                <input type="hidden" name="dashboard_mode" value="Default">
                {% trans "<input name='urlsFile' type='file' class='filestyle' data-buttonText='Choose txt or zip'>" %}
                {% trans '<input name="batch-email" class="form-control input-box placeholder" placeholder="your@email.com" type="text">' %}
                <p id="email-warning" style="display: none;"><span class='colored-text'>{% trans "Please enter an email!" %}</span></p>
                <p id="txt-warning" style="display: none;"><span class='colored-text'>{% trans "Please upload a txt/zip file!" %}</span></p>
                <p id="email-warning" style="display: none;"><span class='colored-text'>{% trans "Please enter an email!" %}</span></p>
                <p id="txt-warning" style="display: none;"><span class='colored-text'>{% trans "Please upload a txt/zip file!" %}</span></p>
                <button id="urls" name='_urls' type="submit" class="btn btn-primary standard-button">{% trans "Analyze my projects" %}</button>
                <br></br>
                {% csrf_token %}
            </form>
                  

            <!-- FORM SUBMIT SUCCESS / ERROR MESSAGES -->
            <p class="file-error dark-text small-text">
            {% trans "Error! Please choose a .sb or .sb3 file or input an url" %}</p>
            {% if error %}
            <br></br>
            <p><span class="icon icon-close-alt2"></span> {% trans "Error! Please choose a .sb or .sb3 file or input an url" %}</p>
            {% endif %}
            {% if id_error %}
            <br></br>
            <p><span class="icon icon-close-alt2"></span> {% trans "Error! Your project id is wrong" %}</p>
            {% endif %}
            {% if no_exists %}
            <br></br>
            <p><span class="icon icon-close-alt2"></span> {% trans "Error! Your project doesn't exist in Scratch's servers" %}</p>
            {% endif %}
        </div>
    </div>
    
    
  
</div>
<br></br>

<div id="modalUrl" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>
                <div class="small-text-medium uppercase colored-text">
                    {% trans "What is an url?" %}
                </div>
                <h4 class="modal-title"><strong>{% trans "How I can know my Scratch project's url?" %}</strong></h4>
                <div class="colored-line"></div>
            </div>
            <div class="modal-body">
                {% trans "<img class='framed' style='width: 500px;' src='static/app/images/url-en.png' />" %}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<!-- Modal Project -->
<div id="modalProject" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close text-right" data-dismiss="modal">&times;</button>
            <div class="small-text-medium uppercase colored-text">
                {% trans "I want to download my project from Scratch!" %}
            </div>
            <h4 class="modal-title"><strong>{% trans "How I can download my Scratch project to my computer?" %}</strong></h4>
            <div class="colored-line"></div>
        </div>
        <div class="modal-body">
            {% trans "<img class='framed' style='width: 500px;' src='static/app/images/project-en.png' />" %}
        </div>
        <div class="modal-footer">
        </div>
    </div>

    </div>
 </div>

 <!-- Modal Txt -->
<div id="modalTxt" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close text-right" data-dismiss="modal">&times;</button>
            <div class="small-text-medium uppercase colored-text">
                {% trans "What is an txt with scratch's urls?" %}
            </div>
            <h4 class="modal-title"><strong>{% trans "How is the correct format of the txt?" %}</strong></h4>
            <div class="colored-line"></div>
        </div>
        <div class="modal-body">
            {% trans "<img class='framed' style='width: 500px;' src='static/app/images/txt-es.png' />" %}
        </div>
        <div class="modal-footer">
        </div>
    </div>

    </div>
 </div>

    <!-- FOOTER -->
    <footer class="footer grey-bg">
        <p>{% trans "©2024 Dr.Scratch Made with " %} <span style="color: #e25555;">&#9829;</span> {% trans "by " %} <a href="/collaborators">{% trans "Dr.Scratch Team." %}</a></p>
            <!-- SOCIAL ICONS -->
            <ul class="social-icons">
                <li>
                    <a href="https://github.com/Daniesmor/Dr.Scratch-Northeastern"> 
                    <i class="bi bi-github" style="color: black;"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/DrScratchTool">
                    <i class="bi bi-twitter-x" style="color: black;"></i>
                    </a>
                </li>    
            </ul>
    </footer>
</div>


    <div id="pb" class="jumbotron">
        <div class="container">
                <p>
                    <h2>
                        {% trans "Wait a moment, please." %}
                    </h2>
                </p>
        </div>
        <div class="container">
            <img src="../../static/app/images/logo_main.png"/>
        </div>
        <div class = "container">
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar"
                    aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"
                    style="width: 99%">
                    <span style="width: 99%">{% trans "loading..." %}</span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="static/app/scripts/bootstrap-filestyle.js"> </script>
    <script src="/static/app/scripts/progress-bar.js"></script>

</body>
</html>
