{% load i18n %}
<!DOCTYPE html>
<html class="nivo-lightbox-notouch" lang="en">
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% trans "Error" %} </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="icon" href="../../static/app/images/favicon.ico">
		<!-- Bootstrap core CSS -->
	    <link href="../../static/app/content/bootstrap.min.css" rel="stylesheet">
	    <!-- Add custom CSS here -->
	    <link href="../../static/app/content/sb-admin.css" rel="stylesheet">

        <link rel='stylesheet' href='../../static/app/content/learn.css'>
        <link rel="stylesheet" href="../../static/app/content/red.css" type="text/css" />
		<!--Librería jQuery requerida para los plugins de Javascript-->
		<script src="../../static/app/scripts/jquery.js"></script>
		<!--Todos los plugins Javascript de bootStrap-->
		<script src="../../static/app/scripts/bootstrap.min.js"></script>
		<script src="../../static/app/scripts/bootstrap-filestyle.js"></script>
        <!-- Font icons -->
        <link rel="stylesheet" href="../../static/app/icons/icons.css">
        <script src="../../static/app/scripts/googleAnalytics.js"></script>


</head>
 
<body id="learn">
<!-- Header -->
<div class="jumbotron">

    <div class="container">
        <img src="../../static/app/images/logo_main.png"/>
    </div>

    <div class="container">
            <p>
                <h1 class= text-center>
                     {% trans "There was an error analyzing your project" %}
                </h1>
                <h2 class="text-center">
                     {% trans  "We apologize for this inconvenience" %} 
                </h2>
            </p>
    </div>
</div>
<!-- End Header -->

<!-- Sign up -->
<div class="pager">
        <h4>
            
               {% trans "Sometimes we have got problems analyzing some projects. We're working on this." %}

               <a href="https://github.com/Daniesmor/Dr.Scratch-Northeastern"> 
                  <i class="bi bi-github"></i>
               </a>
               <a href="https://twitter.com/DrScratchTool">
                  <i class="bi bi-twitter-x"></i>
               </a>
               <a href="mailto:drscratch@gsyc.urjc.es">
                  <i class="bi bi-envelope"></i>
               </a>
        </h4>
</div>
<div class="pager">
    <a style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;" href="/" class="btn btn-primary standard-button" data-wow-duration="2s" data-wow-offset="10" type="button">{% trans "Get Started" %}</a>
</div>
<!-- Sign up -->


<!-- Footer -->
<div id="footer" class="container">
    <footer class="footer grey-bg">
        <p>{% trans "©2024 Dr.Scratch Made with " %} <span style="color: #e25555;">&#9829;</span> {% trans "by " %} <a href="/collaborators">{% trans "Dr.Scratch Team." %}</a></p>
            <!-- SOCIAL ICONS -->
            <ul class="social-icons">
                <li>
                    <a href="https://github.com/Daniesmor/Dr.Scratch-Northeastern"> 
                    <i class="bi bi-github" style="color: black;"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/DrScratchTool">
                    <i class="bi bi-twitter-x" style="color: black;"></i>
                    </a>
                </li>    
            </ul>
    </footer>
</div>
<!-- End Footer -->

</body>
</html>


